Repository pabloimrik17/monolab: changes, and which Codecov flags are due for each by the changed paths.
All: react-hooks, react-clean, is-even, is-odd, ts-configs

codecov.yaml:

# Codecov Configuration for MonoLab Monorepo
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage status checks
coverage:
    status:
        # Project coverage (overall repository)
        project:
            default:
                target: auto # Maintain current coverage level
                threshold: 5% # Allow up to 5% coverage decrease
                informational: true # Don't block PRs (informational only)

        # Patch coverage (new/modified code in PRs)
        patch:
            default:
                target: 70% # New code should have at least 70% coverage
                threshold: 5% # Allow up to 5% below target
                informational: true # Don't block PRs initially

# Files and directories to ignore from coverage calculations
ignore:
    - "**/*.spec.ts"
    - "**/*.test.ts"
    - "**/*.spec.tsx"
    - "**/*.test.tsx"
    - "**/dist/"
    - "**/node_modules/"
    - "**/coverage/"
    - "**/.nx/"
    - "**/*.config.ts"
    - "**/*.config.js"
    - "**/*.config.cjs"
    - "**/*.config.mjs"
    - "**/vite.config.ts"
    - "**/vitest.config.ts"
    - "**/eslint.config.ts"

# Enable inline annotations on pull requests
comment:
    layout: "header, diff, files, footer"
    behavior: default # Update existing comment
    require_changes: false # Always comment, even if no coverage changes

# Per-package flags for independent tracking
flags:
    react-hooks:
        paths:
            - packages/react-hooks/
        carryforward: true # Use previous coverage if not in current upload

    react-clean:
        paths:
            - packages/react-clean/
        carryforward: true

    is-even:
        paths:
            - packages/is-even/
        carryforward: true

    is-odd:
        paths:
            - packages/is-odd/
        carryforward: true

    ts-configs:
        paths:
            - packages/ts-configs/
        carryforward: true

fix: codecov badge link
  README.md
Due: none

docs: added proposal
  openspec/changes/add-markdownlint/proposal.md
  openspec/changes/add-markdownlint/specs/markdown-linting/spec.md
  openspec/changes/add-markdownlint/tasks.md
Due: none

docs: updated proposal
  openspec/changes/add-markdownlint/proposal.md
  openspec/changes/add-markdownlint/specs/markdown-linting/spec.md
Due: none

chore: added markdownlint
  .markdownlintignore
  .markdownlintrc
  .prettierignore
  eslint.config.ts
  openspec/changes/add-markdownlint/tasks.md
Due: none

chore: added markdownlint
  .markdownlintignore
  .markdownlintrc
  .prettierignore
  eslint.config.ts
  openspec/changes/add-markdownlint/proposal.md
  openspec/changes/add-markdownlint/specs/markdown-linting/spec.md
  openspec/changes/add-markdownlint/tasks.md
Due: none

docs(openspec): archive add-markdownlint proposal
  openspec/changes/archive/2025-10-26-add-markdownlint/proposal.md
  openspec/changes/archive/2025-10-26-add-markdownlint/specs/markdown-linting/spec.md
  openspec/changes/archive/2025-10-26-add-markdownlint/tasks.md
  openspec/specs/markdown-linting/spec.md
Due: none

fix: codecov badge link
  .github/workflows/ci.yml
  codecov.yaml
  openspec/changes/add-codecov/tasks.md
  packages/is-even/README.md
  packages/is-odd/README.md
  packages/react-clean/README.md
  packages/react-hooks/README.md
  packages/ts-configs/README.md
Due: react-hooks, react-clean, is-even, is-odd, ts-configs

fix: codecov badge link
  packages/is-even/README.md
  packages/is-odd/README.md
  packages/react-clean/README.md
  packages/react-hooks/README.md
  packages/ts-configs/README.md
Due: react-hooks, react-clean, is-even, is-odd, ts-configs

fix: codecov badge link (#41)
  .github/workflows/ci.yml
  codecov.yaml
  openspec/changes/add-codecov/tasks.md
  packages/is-even/README.md
  packages/is-odd/README.md
  packages/react-clean/README.md
  packages/react-hooks/README.md
  packages/ts-configs/README.md
Due: react-hooks, react-clean, is-even, is-odd, ts-configs

chore: added tsconfig base proposal
  openspec/changes/define-base-tsconfig/design.md
  openspec/changes/define-base-tsconfig/proposal.md
  openspec/changes/define-base-tsconfig/specs/typescript-configuration/spec.md
  openspec/changes/define-base-tsconfig/tasks.md
Due: none

chore: add .worktrees/ to .gitignore
  .gitignore
Due: none

feat: implement platform-agnostic base TypeScript config with maximum strictness
  openspec/changes/define-base-tsconfig/tasks.md
  packages/ts-configs/README.md
  packages/ts-configs/tsconfig.base.json
Due: ts-configs

feat: implement platform-agnostic base TypeScript configuration
  openspec/changes/define-base-tsconfig/tasks.md
  packages/ts-configs/README.md
  packages/ts-configs/tsconfig.base.json
Due: ts-configs

feat: add Node.js base TypeScript configuration
  openspec/changes/add-tsconfig-node-base/proposal.md
  openspec/changes/add-tsconfig-node-base/specs/typescript-config/spec.md
  openspec/changes/add-tsconfig-node-base/tasks.md
  tsconfig.node.base.json
Due: none

chore: added tsconfig proposals
  openspec/changes/add-tsconfig-node-app/proposal.md
  openspec/changes/add-tsconfig-node-app/specs/typescript-config/spec.md
  openspec/changes/add-tsconfig-node-app/tasks.md
  openspec/changes/add-tsconfig-node-base/proposal.md
  openspec/changes/add-tsconfig-node-base/specs/typescript-config/spec.md
  openspec/changes/add-tsconfig-node-base/tasks.md
  openspec/changes/add-tsconfig-node-lib/proposal.md
  openspec/changes/add-tsconfig-node-lib/specs/typescript-config/spec.md
  openspec/changes/add-tsconfig-node-lib/tasks.md
  openspec/changes/add-tsconfig-web-app/proposal.md
  openspec/changes/add-tsconfig-web-app/specs/typescript-config/spec.md
  openspec/changes/add-tsconfig-web-app/tasks.md
  openspec/changes/add-tsconfig-web-base/proposal.md
  openspec/changes/add-tsconfig-web-base/specs/typescript-config/spec.md
  openspec/changes/add-tsconfig-web-base/tasks.md
  openspec/changes/add-tsconfig-web-lib/proposal.md
  openspec/changes/add-tsconfig-web-lib/specs/typescript-config/spec.md
  openspec/changes/add-tsconfig-web-lib/tasks.md
Due: none

chore: added tsconfig proposals
  openspec/changes/add-mutation-testing/design.md
  openspec/changes/add-mutation-testing/proposal.md
  openspec/changes/add-mutation-testing/specs/mutation-testing/spec.md
  openspec/changes/add-mutation-testing/tasks.md
Due: none

chore: add enhance vitest proposal
  openspec/changes/enhance-vitest-testing/design.md
  openspec/changes/enhance-vitest-testing/proposal.md
  openspec/changes/enhance-vitest-testing/specs/vitest-testing/spec.md
  openspec/changes/enhance-vitest-testing/tasks.md
Due: none

chore: nx agents guidelines
  AGENTS.md
  CLAUDE.md
Due: none

fix: add module settings to projects extending base tsconfig
  packages/is-even/tsconfig.json
  packages/is-odd/tsconfig.json
  packages/react-clean/tsconfig.json
  packages/react-hooks/tsconfig.json
Due: react-hooks, react-clean, is-even, is-odd

style: apply prettier formatting
  .prettierrc
  .vscode/extensions.json
  packages/ts-configs/README.md
Due: ts-configs

feat: add tsconfig.json for ts-configs package build
  packages/ts-configs/tsconfig.json
Due: ts-configs

fix: add ts-configs to workspace project references
  tsconfig.json
Due: none

chore: implement platform-agnostic base TypeScript configuration (#43)
  .prettierrc
  .vscode/extensions.json
  openspec/changes/define-base-tsconfig/tasks.md
  packages/is-odd/tsconfig.json
  packages/react-clean/tsconfig.json
  packages/react-hooks/tsconfig.json
  packages/ts-configs/README.md
  packages/ts-configs/tsconfig.base.json
  packages/ts-configs/tsconfig.json
  tsconfig.json
Due: react-hooks, react-clean, is-odd, ts-configs

feat: add mutation testing with Stryker
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  README.md
  eslint.config.ts
  nx.json
  package.json
  packages/is-even/package.json
  packages/is-even/stryker.config.ts
  packages/is-odd/package.json
  packages/is-odd/stryker.config.ts
  packages/react-clean/package.json
  packages/react-clean/stryker.config.ts
  packages/react-hooks/package.json
  packages/react-hooks/stryker.config.ts
  packages/ts-configs/package.json
  packages/ts-configs/stryker.config.ts
  pnpm-lock.yaml
  stryker.config.base.ts
Due: react-hooks, react-clean, is-even, is-odd, ts-configs

refactor: move tsconfig.node.base.json to ts-configs package
  packages/ts-configs/tsconfig.node.base.json
Due: ts-configs

feat: add TypeScript web base configuration
  openspec/changes/add-tsconfig-web-base/tasks.md
  tsconfig.web.base.json
Due: none

fix: use NodeNext module system for Node.js config
  openspec/changes/add-tsconfig-node-base/proposal.md
  openspec/changes/add-tsconfig-node-base/specs/typescript-config/spec.md
  openspec/changes/add-tsconfig-node-base/tasks.md
  packages/ts-configs/tsconfig.node.base.json
Due: ts-configs

fix: move tsconfig.web.base.json to ts-configs package and clarify strictness documentation
  packages/ts-configs/README.md
  packages/ts-configs/package.json
  packages/ts-configs/tsconfig.web.base.json
Due: ts-configs

chore: add Node.js base TypeScript configuration (#44)
  openspec/changes/add-tsconfig-node-base/proposal.md
  openspec/changes/add-tsconfig-node-base/specs/typescript-config/spec.md
  openspec/changes/add-tsconfig-node-base/tasks.md
  packages/ts-configs/tsconfig.node.base.json
Due: ts-configs

chore: add TypeScript web base configuration (#42)
  openspec/changes/add-tsconfig-web-base/tasks.md
  packages/ts-configs/README.md
  packages/ts-configs/package.json
  packages/ts-configs/tsconfig.web.base.json
Due: ts-configs

fix: improve mutation testing with inPlace mode and enhanced test coverage
  packages/is-even/stryker.config.mjs
  packages/is-odd/stryker.config.mjs
  packages/react-clean/src/base.viewmodel.spec.ts
  packages/react-clean/src/use-view-model.hook.spec.ts
  packages/react-clean/stryker.config.mjs
  packages/react-hooks/src/hooks/use-did-mount.hook.spec.ts
  packages/react-hooks/src/hooks/use-will-unmount.hook.spec.ts
  packages/react-hooks/stryker.config.mjs
  packages/ts-configs/package.json
  packages/ts-configs/stryker.config.ts
  stryker.config.base.mjs
Due: ts-configs

docs: add mutation testing badge to README
  README.md
Due: none

docs: update mutation testing tasks completion status
  openspec/changes/add-mutation-testing/tasks.md
Due: none

chore: align node version
  .idea/vcs.xml
  README.md
  openspec/changes/add-tsconfig-node-app/tasks.md
  openspec/project.md
Due: none

chore: align node version
  openspec/changes/add-tsconfig-node-app/specs/typescript-config/spec.md
  openspec/changes/add-tsconfig-node-base/specs/typescript-config/spec.md
Due: none

chore(deps): bump nx
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: none

chore(deps): bump pnpm
  README.md
  openspec/project.md
Due: none

chore(deps): bump pnpm
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat: enhance Vitest testing capabilities
  .github/workflows/ci.yml
  README.md
  openspec/changes/enhance-vitest-testing/design.md
  openspec/changes/enhance-vitest-testing/proposal.md
  openspec/changes/enhance-vitest-testing/specs/vitest-testing/spec.md
  openspec/changes/enhance-vitest-testing/tasks.md
  package.json
  packages/is-even/package.json
  packages/is-even/src/index.test-d.ts
  packages/is-even/vitest.config.ts
  packages/is-odd/package.json
  packages/is-odd/src/index.test-d.ts
  packages/is-odd/vitest.config.ts
  packages/react-clean/package.json
  packages/react-clean/src/base.viewmodel.browser.test.tsx
  packages/react-clean/vitest.config.ts
  packages/react-hooks/package.json
  packages/react-hooks/src/hooks/use-did-mount.browser.test.tsx
  packages/react-hooks/src/hooks/use-did-mount.test-d.ts
  packages/react-hooks/vitest.config.ts
  packages/ts-configs/package.json
  packages/ts-configs/vitest.config.ts
  pnpm-lock.yaml
  vitest.workspace.ts
Due: react-hooks, react-clean, is-even, is-odd, ts-configs
