Repository pabloimrik17/monolab: changes, and which Codecov flags are due for each by the changed paths.
All: react-hooks, react-clean, is-even, is-odd, ts-configs

codecov.yaml:

# Codecov Configuration for MonoLab Monorepo
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage status checks
coverage:
    status:
        # Project coverage (overall repository)
        project:
            default:
                target: auto # Maintain current coverage level
                threshold: 2% # Allow up to 2% coverage decrease (strict but reasonable)
                informational: false # Block PRs if coverage drops significantly

            # Per-package project coverage checks
            react-hooks:
                target: auto
                threshold: 2%
                informational: false
                flags:
                    - react-hooks

            react-clean:
                target: auto
                threshold: 2%
                informational: false
                flags:
                    - react-clean

            is-even:
                target: auto
                threshold: 2%
                informational: false
                flags:
                    - is-even

            is-odd:
                target: auto
                threshold: 2%
                informational: false
                flags:
                    - is-odd

            ts-configs:
                target: auto
                threshold: 2%
                informational: false
                flags:
                    - ts-configs

        # Patch coverage (new/modified code in PRs)
        patch:
            default:
                target: 50% # New code should have at least 50% coverage (low bar for initial setup)
                threshold: 10% # Allow up to 10% below target (40% minimum)
                informational: false # Block PRs with very low coverage on new code

            # Per-package patch coverage checks
            react-hooks:
                target: 50%
                threshold: 10%
                informational: false
                flags:
                    - react-hooks

            react-clean:
                target: 50%
                threshold: 10%
                informational: false
                flags:
                    - react-clean

            is-even:
                target: 50%
                threshold: 10%
                informational: false
                flags:
                    - is-even

            is-odd:
                target: 50%
                threshold: 10%
                informational: false
                flags:
                    - is-odd

            ts-configs:
                target: 50%
                threshold: 10%
                informational: false
                flags:
                    - ts-configs

# Files and directories to ignore from coverage calculations
ignore:
    - "**/*.spec.ts"
    - "**/*.test.ts"
    - "**/*.spec.tsx"
    - "**/*.test.tsx"
    - "**/dist/"
    - "**/node_modules/"
    - "**/coverage/"
    - "**/.nx/"
    - "**/*.config.ts"
    - "**/*.config.js"
    - "**/*.config.cjs"
    - "**/*.config.mjs"
    - "**/vite.config.ts"
    - "**/vitest.config.ts"
    - "**/eslint.config.ts"

# Enable inline annotations on pull requests
comment:
    layout: "header, diff, files, footer"
    behavior: default # Update existing comment
    require_changes: false # Always comment, even if no coverage changes

# Per-package flags for independent tracking
flags:
    react-hooks:
        paths:
            - packages/react-hooks/
        carryforward: true # Use previous coverage if not in current upload

    react-clean:
        paths:
            - packages/react-clean/
        carryforward: true

    is-even:
        paths:
            - packages/is-even/
        carryforward: true

    is-odd:
        paths:
            - packages/is-odd/
        carryforward: true

    ts-configs:
        paths:
            - packages/ts-configs/
        carryforward: true

fix: use nx cloud based on env var
  .github/workflows/ci.yml
Due: none

fix: use nx cloud based on env var
  apps/demo/.prettierignore
  packages/is-even/.prettierignore
  packages/is-odd/.prettierignore
  packages/react-clean/.prettierignore
  packages/react-hooks/.prettierignore
  packages/ts-configs/.prettierignore
Due: react-hooks, react-clean, is-even, is-odd, ts-configs

fix: use nx cloud based on env var (#63)
  .github/workflows/ci.yml
  apps/demo/.prettierignore
  packages/is-even/.prettierignore
  packages/is-odd/.prettierignore
  packages/react-clean/.prettierignore
  packages/react-hooks/.prettierignore
  packages/ts-configs/.prettierignore
Due: react-hooks, react-clean, is-even, is-odd, ts-configs

refactor: remove function type tests and add StrictOmit utility type
  packages/is-even/src/index.test-d.ts
  packages/is-odd/src/index.test-d.ts
  packages/react-clean/src/base.viewmodel.browser.test.tsx
  packages/react-clean/src/index.ts
  packages/react-clean/src/types.test-d.ts
  packages/react-clean/src/types.ts
  packages/react-hooks/src/hooks/use-did-mount.browser.test.tsx
  packages/react-hooks/src/hooks/use-did-mount.test-d.ts
Due: react-hooks, react-clean, is-even, is-odd

chore: disable ESLint rules for type test files
  eslint.config.ts
Due: none

refactor: use waitFor instead of hardcoded setTimeout in browser test
  packages/react-hooks/src/hooks/use-did-mount.browser.test.tsx
Due: none

refactor: migrate from vitest.workspace.ts to projects config
  vitest.config.ts
  vitest.workspace.ts
Due: none

docs: added codecov optimization proposal
  openspec/changes/optimize-codecov-uploads/design.md
  openspec/changes/optimize-codecov-uploads/proposal.md
  openspec/changes/optimize-codecov-uploads/specs/bundle-size-tracking/spec.md
  openspec/changes/optimize-codecov-uploads/specs/coverage-reporting/spec.md
  openspec/changes/optimize-codecov-uploads/specs/test-analytics/spec.md
  openspec/changes/optimize-codecov-uploads/tasks.md
Due: none

perf(ci): optimize Codecov uploads for affected packages only
  .github/workflows/ci.yml
  openspec/changes/optimize-codecov-uploads/tasks.md
Due: none

feat: migrate to Vitest v4 with browser testing support
  openspec/changes/enhance-vitest-testing/design.md
  openspec/changes/enhance-vitest-testing/proposal.md
  package.json
  packages/react-clean/package.json
  packages/react-clean/vitest.config.ts
  packages/react-hooks/package.json
  packages/react-hooks/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vitest.config.ts
Due: react-hooks, react-clean

fix(ci): use correct Codecov CLI package
  .github/workflows/ci.yml
Due: none

fix(ci): use GitHub Actions with conditionals for Codecov
  .github/workflows/ci.yml
Due: none

refactor(ci): add fallbacks and documentation per code review
  .github/workflows/ci.yml
Due: none

refactor(ci): align error handling for test-results uploads
  .github/workflows/ci.yml
Due: none

feat(react-clean): add decorator support with @vitejs/plugin-react-swc
  package.json
  packages/react-clean/package.json
  packages/react-clean/tsconfig.json
  packages/react-clean/vitest.config.ts
  pnpm-lock.yaml
Due: react-clean

refactor: address CodeRabbit feedback on browser test organization
  openspec/changes/enhance-vitest-testing/tasks.md
  packages/react-hooks/src/hooks/use-did-mount.browser.test.tsx
Due: none

refactor(ci): simplify bundle uploads and add Nx cache
  .github/workflows/ci.yml
Due: none

docs: align proposal and design with @vitejs/plugin-react-swc implementation
  openspec/changes/enhance-vitest-testing/design.md
  openspec/changes/enhance-vitest-testing/proposal.md
Due: none

refactor: remove unnecessary fileParallelism config from browser tests
  packages/react-clean/vitest.config.ts
  packages/react-hooks/vitest.config.ts
Due: none

refactor(ci): align cache restore-keys to coherent pattern
  .github/workflows/ci.yml
Due: none

docs: mark all completed tasks in implementation checklist
  openspec/changes/enhance-vitest-testing/tasks.md
Due: none

chore: enhance Vitest testing capabilities (#62)
  .github/workflows/ci.yml
  README.md
  eslint.config.ts
  openspec/changes/enhance-vitest-testing/design.md
  openspec/changes/enhance-vitest-testing/proposal.md
  openspec/changes/enhance-vitest-testing/specs/vitest-testing/spec.md
  openspec/changes/enhance-vitest-testing/tasks.md
  package.json
  packages/is-even/package.json
  packages/is-even/vitest.config.ts
  packages/is-odd/package.json
  packages/is-odd/vitest.config.ts
  packages/react-clean/package.json
  packages/react-clean/src/base.viewmodel.browser.test.tsx
  packages/react-clean/src/index.ts
  packages/react-clean/src/types.test-d.ts
  packages/react-clean/src/types.ts
  packages/react-clean/tsconfig.json
  packages/react-clean/vitest.config.ts
  packages/react-hooks/package.json
  packages/react-hooks/src/hooks/use-did-mount.browser.test.tsx
  packages/react-hooks/tsconfig.json
  packages/react-hooks/vitest.config.ts
  packages/ts-configs/package.json
  packages/ts-configs/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vitest.config.ts
  vitest.workspace.ts
Due: react-hooks, react-clean, is-even, is-odd, ts-configs

docs: align proposal and tasks with final implementation
  openspec/changes/optimize-codecov-uploads/proposal.md
  openspec/changes/optimize-codecov-uploads/tasks.md
Due: none

docs: address nitpick comments from code review
  .github/workflows/ci.yml
  openspec/changes/optimize-codecov-uploads/proposal.md
Due: none

fix: cache entire .nx directory instead of .nx/cache
  .github/workflows/ci.yml
Due: none

docs: update affected lines range to 82-307
  openspec/changes/optimize-codecov-uploads/proposal.md
Due: none

perf(ci): optimize Codecov uploads for affected packages (#64)
  .github/workflows/ci.yml
  README.md
  openspec/changes/optimize-codecov-uploads/proposal.md
  openspec/changes/optimize-codecov-uploads/tasks.md
  pnpm-lock.yaml
Due: none

feat: add TypeScript Node.js application configuration
  openspec/changes/add-tsconfig-node-app/tasks.md
  tsconfig.node.app.json
Due: none

fix: mutation test
  openspec/changes/add-tsconfig-node-app/proposal.md
  openspec/changes/add-tsconfig-node-base/proposal.md
  openspec/changes/add-tsconfig-node-lib/proposal.md
  openspec/changes/add-tsconfig-web-app/proposal.md
  openspec/changes/add-tsconfig-web-lib/proposal.md
  stryker.config.base.mjs
Due: none

fix: mutation test
  stryker.config.base.mjs
Due: none

fix: move tsconfig.node.app.json to correct package location
  openspec/changes/add-tsconfig-node-app/proposal.md
  openspec/changes/add-tsconfig-node-app/tasks.md
  packages/ts-configs/tsconfig.node.app.json
Due: ts-configs

feat: add TypeScript web library configuration
  openspec/changes/add-tsconfig-web-lib/proposal.md
  openspec/changes/add-tsconfig-web-lib/tasks.md
  packages/ts-configs/README.md
  packages/ts-configs/package.json
  packages/ts-configs/tsconfig.web.lib.json
Due: ts-configs

feat: add TypeScript Node.js library configuration
  openspec/changes/add-tsconfig-node-lib/proposal.md
  openspec/changes/add-tsconfig-node-lib/tasks.md
  packages/is-even/tsconfig.json
  packages/is-odd/tsconfig.json
  packages/ts-configs/tsconfig.node.lib.json
Due: is-even, is-odd, ts-configs

fix(ts-configs): export Node.js TypeScript configurations
  packages/ts-configs/package.json
Due: ts-configs

feat: export tsconfig files in package for external use
  openspec/changes/add-tsconfig-node-app/tasks.md
  packages/ts-configs/package.json
Due: ts-configs

feat: add TypeScript web application configuration
  openspec/changes/add-tsconfig-web-app/proposal.md
  openspec/changes/add-tsconfig-web-app/tasks.md
  packages/ts-configs/README.md
  packages/ts-configs/package.json
  packages/ts-configs/tsconfig.web.app.json
Due: ts-configs

fix: mutation test
  packages/react-clean/stryker.config.mjs
Due: none
