Repository pabloimrik17/monolab: changes, and which Codecov flags are due for each by the changed paths.
All: react-hooks, react-clean, is-even, is-odd, ts-configs

codecov.yaml:

# Codecov Configuration for MonoLab Monorepo
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage status checks
coverage:
    status:
        # Project coverage (overall repository)
        project:
            default:
                target: auto # Maintain current coverage level
                threshold: 2% # Allow up to 2% coverage decrease (strict but reasonable)
                informational: false # Block PRs if coverage drops significantly

            # Per-package project coverage checks
            react-hooks:
                target: auto
                threshold: 2%
                informational: false
                flags:
                    - react-hooks

            react-clean:
                target: auto
                threshold: 2%
                informational: false
                flags:
                    - react-clean

            is-even:
                target: auto
                threshold: 2%
                informational: false
                flags:
                    - is-even

            is-odd:
                target: auto
                threshold: 2%
                informational: false
                flags:
                    - is-odd

            ts-configs:
                target: auto
                threshold: 2%
                informational: false
                flags:
                    - ts-configs

        # Patch coverage (new/modified code in PRs)
        patch:
            default:
                target: 50% # New code should have at least 50% coverage (low bar for initial setup)
                threshold: 10% # Allow up to 10% below target (40% minimum)
                informational: false # Block PRs with very low coverage on new code

            # Per-package patch coverage checks
            react-hooks:
                target: 50%
                threshold: 10%
                informational: false
                flags:
                    - react-hooks

            react-clean:
                target: 50%
                threshold: 10%
                informational: false
                flags:
                    - react-clean

            is-even:
                target: 50%
                threshold: 10%
                informational: false
                flags:
                    - is-even

            is-odd:
                target: 50%
                threshold: 10%
                informational: false
                flags:
                    - is-odd

            ts-configs:
                target: 50%
                threshold: 10%
                informational: false
                flags:
                    - ts-configs

# Files and directories to ignore from coverage calculations
ignore:
    - "**/*.spec.ts"
    - "**/*.test.ts"
    - "**/*.spec.tsx"
    - "**/*.test.tsx"
    - "**/dist/"
    - "**/node_modules/"
    - "**/coverage/"
    - "**/.nx/"
    - "**/*.config.ts"
    - "**/*.config.js"
    - "**/*.config.cjs"
    - "**/*.config.mjs"
    - "**/vite.config.ts"
    - "**/vitest.config.ts"
    - "**/eslint.config.ts"

# Enable inline annotations on pull requests
comment:
    layout: "header, diff, files, footer"
    behavior: default # Update existing comment
    require_changes: false # Always comment, even if no coverage changes

# Per-package flags for independent tracking
flags:
    react-hooks:
        paths:
            - packages/react-hooks/
        carryforward: true # Use previous coverage if not in current upload

    react-clean:
        paths:
            - packages/react-clean/
        carryforward: true

    is-even:
        paths:
            - packages/is-even/
        carryforward: true

    is-odd:
        paths:
            - packages/is-odd/
        carryforward: true

    ts-configs:
        paths:
            - packages/ts-configs/
        carryforward: true

docs(openspec): archive add-scan-version-clamps + sync specs
  openspec/changes/archive/2026-07-09-add-scan-version-clamps/.openspec.yaml
  openspec/changes/archive/2026-07-09-add-scan-version-clamps/README.md
  openspec/changes/archive/2026-07-09-add-scan-version-clamps/design.md
  openspec/changes/archive/2026-07-09-add-scan-version-clamps/proposal.md
  openspec/changes/archive/2026-07-09-add-scan-version-clamps/research/gate-mechanism-spike.md
  openspec/changes/archive/2026-07-09-add-scan-version-clamps/specs/breaking-change-pr-grouping/spec.md
  openspec/changes/archive/2026-07-09-add-scan-version-clamps/specs/npm-update-scanning/spec.md
  openspec/changes/archive/2026-07-09-add-scan-version-clamps/tasks.md
  openspec/specs/breaking-change-pr-grouping/spec.md
  openspec/specs/npm-update-scanning/spec.md
Due: none

feat(experiments): clamp scan-npm-updates targets to policy invariants (#247, #251) (#262)
  claude-plugins/experiments/skills/partition-breaking-changes/SKILL.md
  claude-plugins/experiments/skills/scan-npm-updates/SKILL.md
  openspec/changes/archive/2026-07-09-add-scan-version-clamps/.openspec.yaml
  openspec/changes/archive/2026-07-09-add-scan-version-clamps/README.md
  openspec/changes/archive/2026-07-09-add-scan-version-clamps/design.md
  openspec/changes/archive/2026-07-09-add-scan-version-clamps/proposal.md
  openspec/changes/archive/2026-07-09-add-scan-version-clamps/research/gate-mechanism-spike.md
  openspec/changes/archive/2026-07-09-add-scan-version-clamps/specs/breaking-change-pr-grouping/spec.md
  openspec/changes/archive/2026-07-09-add-scan-version-clamps/specs/npm-update-scanning/spec.md
  openspec/changes/archive/2026-07-09-add-scan-version-clamps/tasks.md
  openspec/specs/breaking-change-pr-grouping/spec.md
  openspec/specs/npm-update-scanning/spec.md
Due: none

chore(qup): add .env.example
  apps/qup-web/.env.example
Due: none

chore(idea): settinga
  .idea/vcs.xml
Due: none

chore: format
  claude-plugins/experiments/skills/scan-npm-updates/SKILL.md
Due: none

docs(openspec): initial proposal for improve update commands
  openspec/changes/improve-deep-update-family-performance/.openspec.yaml
  openspec/changes/improve-deep-update-family-performance/design.md
  openspec/changes/improve-deep-update-family-performance/proposal.md
  openspec/changes/improve-deep-update-family-performance/specs/experiments-plugin/spec.md
  openspec/changes/improve-deep-update-family-performance/tasks.md
Due: none

docs(openspec): added plan mode to the flow
  openspec/changes/improve-deep-update-family-performance/design.md
  openspec/changes/improve-deep-update-family-performance/specs/experiments-plugin/spec.md
Due: none

docs(openspec): refined proposal
  openspec/changes/improve-deep-update-family-performance/proposal.md
  openspec/changes/improve-deep-update-family-performance/specs/breaking-change-pr-grouping/spec.md
  openspec/changes/improve-deep-update-family-performance/specs/commander-update-deep-engines-command/spec.md
  openspec/changes/improve-deep-update-family-performance/specs/commander-update-deep-major-command/spec.md
  openspec/changes/improve-deep-update-family-performance/specs/commander-update-deep-minor-command/spec.md
  openspec/changes/improve-deep-update-family-performance/specs/commander-update-deep-patch-command/spec.md
  openspec/changes/improve-deep-update-family-performance/specs/commander-update-orchestrator-skill/spec.md
  openspec/changes/improve-deep-update-family-performance/specs/experiments-plugin/spec.md
  openspec/changes/improve-deep-update-family-performance/specs/npm-update-apply/spec.md
  openspec/changes/improve-deep-update-family-performance/specs/npm-update-deep-engines-command/spec.md
  openspec/changes/improve-deep-update-family-performance/specs/npm-update-deep-major-command/spec.md
  openspec/changes/improve-deep-update-family-performance/specs/npm-update-deep-minor-command/spec.md
  openspec/changes/improve-deep-update-family-performance/specs/npm-update-deep-patch-command/spec.md
  openspec/changes/improve-deep-update-family-performance/specs/parallel-research-workflow/spec.md
  openspec/changes/improve-deep-update-family-performance/tasks.md
Due: none

feat(experiments): rework deep update family for performance
  claude-plugins/experiments/commands/commander-update-deep-engines.md
  claude-plugins/experiments/commands/commander-update-deep-major.md
  claude-plugins/experiments/commands/commander-update-deep-minor.md
  claude-plugins/experiments/commands/commander-update-deep-patch.md
  claude-plugins/experiments/commands/npm-update-deep-engines.md
  claude-plugins/experiments/commands/npm-update-deep-major.md
  claude-plugins/experiments/commands/npm-update-deep-minor.md
  claude-plugins/experiments/commands/npm-update-deep-patch.md
  claude-plugins/experiments/package.json
  claude-plugins/experiments/scripts/README.md
  claude-plugins/experiments/scripts/assemble-chronology.mjs
  claude-plugins/experiments/scripts/check-dossier.mjs
  claude-plugins/experiments/scripts/check-source-untouched.mjs
  claude-plugins/experiments/scripts/fetch-changelog.mjs
  claude-plugins/experiments/scripts/lib/cache.mjs
  claude-plugins/experiments/scripts/lib/changelog-parse.mjs
  claude-plugins/experiments/scripts/lib/engines.mjs
  claude-plugins/experiments/scripts/lib/github.mjs
  claude-plugins/experiments/scripts/lib/semver.mjs
  claude-plugins/experiments/scripts/permissions-allowlist.json
  claude-plugins/experiments/scripts/semver-max-wins.mjs
  claude-plugins/experiments/scripts/test/assemble-chronology.test.mjs
  claude-plugins/experiments/scripts/test/cache.test.mjs
  claude-plugins/experiments/scripts/test/changelog-parse.test.mjs
  claude-plugins/experiments/scripts/test/check-dossier.test.mjs
  claude-plugins/experiments/scripts/test/check-source-untouched.test.mjs
  claude-plugins/experiments/scripts/test/existing-cache.test.mjs
  claude-plugins/experiments/scripts/test/github.test.mjs
  claude-plugins/experiments/scripts/test/semver.test.mjs
  claude-plugins/experiments/scripts/test/validate-subset.test.mjs
  claude-plugins/experiments/scripts/validate-subset.mjs
  claude-plugins/experiments/skills/apply-npm-updates/SKILL.md
  claude-plugins/experiments/skills/commander-update-orchestrator/SKILL.md
  claude-plugins/experiments/skills/npm-update-deep-orchestrator/SKILL.md
  claude-plugins/experiments/skills/parallel-research-workflow/SKILL.md
  claude-plugins/experiments/skills/partition-breaking-changes/SKILL.md
  openspec/changes/improve-deep-update-family-performance/specs/commander-update-orchestrator-skill/spec.md
  openspec/changes/improve-deep-update-family-performance/specs/parallel-research-workflow/spec.md
  openspec/changes/improve-deep-update-family-performance/tasks.md
Due: none

fix: apply CodeRabbit auto-fixes
  claude-plugins/experiments/scripts/README.md
  claude-plugins/experiments/scripts/assemble-chronology.mjs
  claude-plugins/experiments/scripts/check-source-untouched.mjs
  claude-plugins/experiments/scripts/fetch-changelog.mjs
  claude-plugins/experiments/scripts/lib/cache.mjs
  claude-plugins/experiments/scripts/lib/github.mjs
  claude-plugins/experiments/scripts/test/assemble-chronology.test.mjs
  claude-plugins/experiments/scripts/test/cache.test.mjs
  claude-plugins/experiments/scripts/test/check-source-untouched.test.mjs
  claude-plugins/experiments/scripts/test/existing-cache.test.mjs
  claude-plugins/experiments/scripts/test/validate-subset.test.mjs
  claude-plugins/experiments/scripts/validate-subset.mjs
  claude-plugins/experiments/skills/commander-update-orchestrator/SKILL.md
  claude-plugins/experiments/skills/npm-update-deep-orchestrator/SKILL.md
  claude-plugins/experiments/skills/parallel-research-workflow/SKILL.md
  claude-plugins/experiments/skills/partition-breaking-changes/SKILL.md
  openspec/changes/improve-deep-update-family-performance/design.md
  openspec/changes/improve-deep-update-family-performance/specs/breaking-change-pr-grouping/spec.md
  openspec/changes/improve-deep-update-family-performance/specs/commander-update-deep-engines-command/spec.md
  openspec/changes/improve-deep-update-family-performance/specs/commander-update-deep-major-command/spec.md
  openspec/changes/improve-deep-update-family-performance/specs/commander-update-deep-minor-command/spec.md
  openspec/changes/improve-deep-update-family-performance/specs/commander-update-deep-patch-command/spec.md
  openspec/changes/improve-deep-update-family-performance/specs/commander-update-orchestrator-skill/spec.md
  openspec/changes/improve-deep-update-family-performance/specs/npm-update-deep-major-command/spec.md
  openspec/changes/improve-deep-update-family-performance/specs/parallel-research-workflow/spec.md
Due: none

refactor(experiments): move script tests adjacent to sources, run with vitest
  claude-plugins/experiments/package.json
  claude-plugins/experiments/scripts/assemble-chronology.test.mjs
  claude-plugins/experiments/scripts/check-dossier.test.mjs
  claude-plugins/experiments/scripts/check-source-untouched.test.mjs
  claude-plugins/experiments/scripts/lib/cache.test.mjs
  claude-plugins/experiments/scripts/lib/changelog-parse.test.mjs
  claude-plugins/experiments/scripts/lib/existing-cache.test.mjs
  claude-plugins/experiments/scripts/lib/github.test.mjs
  claude-plugins/experiments/scripts/lib/semver.test.mjs
  claude-plugins/experiments/scripts/validate-subset.test.mjs
  claude-plugins/experiments/vitest.config.mjs
  pnpm-lock.yaml
Due: none

fix(experiments): correct stale deep-update docs (dossier vocab, PR plan location, step range)
  claude-plugins/experiments/README.md
  claude-plugins/experiments/commands/commander-update-deep-major.md
  claude-plugins/experiments/scripts/README.md
  claude-plugins/experiments/skills/apply-npm-updates/SKILL.md
Due: none

test(experiments): cover fetch-changelog cascade and engines-level paths
  claude-plugins/experiments/scripts/assemble-chronology.test.mjs
  claude-plugins/experiments/scripts/check-dossier.test.mjs
  claude-plugins/experiments/scripts/fetch-changelog.mjs
  claude-plugins/experiments/scripts/fetch-changelog.test.mjs
Due: none

docs(openspec): sync and archive improve-deep-update-family-performance
  openspec/changes/archive/2026-07-13-improve-deep-update-family-performance/.openspec.yaml
  openspec/changes/archive/2026-07-13-improve-deep-update-family-performance/design.md
  openspec/changes/archive/2026-07-13-improve-deep-update-family-performance/proposal.md
  openspec/changes/archive/2026-07-13-improve-deep-update-family-performance/specs/breaking-change-pr-grouping/spec.md
  openspec/changes/archive/2026-07-13-improve-deep-update-family-performance/specs/commander-update-deep-engines-command/spec.md
  openspec/changes/archive/2026-07-13-improve-deep-update-family-performance/specs/commander-update-deep-major-command/spec.md
  openspec/changes/archive/2026-07-13-improve-deep-update-family-performance/specs/commander-update-deep-minor-command/spec.md
  openspec/changes/archive/2026-07-13-improve-deep-update-family-performance/specs/commander-update-deep-patch-command/spec.md
  openspec/changes/archive/2026-07-13-improve-deep-update-family-performance/specs/commander-update-orchestrator-skill/spec.md
  openspec/changes/archive/2026-07-13-improve-deep-update-family-performance/specs/experiments-plugin/spec.md
  openspec/changes/archive/2026-07-13-improve-deep-update-family-performance/specs/npm-update-apply/spec.md
  openspec/changes/archive/2026-07-13-improve-deep-update-family-performance/specs/npm-update-deep-engines-command/spec.md
  openspec/changes/archive/2026-07-13-improve-deep-update-family-performance/specs/npm-update-deep-major-command/spec.md
  openspec/changes/archive/2026-07-13-improve-deep-update-family-performance/specs/npm-update-deep-minor-command/spec.md
  openspec/changes/archive/2026-07-13-improve-deep-update-family-performance/specs/npm-update-deep-patch-command/spec.md
  openspec/changes/archive/2026-07-13-improve-deep-update-family-performance/specs/parallel-research-workflow/spec.md
  openspec/changes/archive/2026-07-13-improve-deep-update-family-performance/tasks.md
  openspec/specs/breaking-change-pr-grouping/spec.md
  openspec/specs/commander-update-deep-engines-command/spec.md
  openspec/specs/commander-update-deep-major-command/spec.md
  openspec/specs/commander-update-deep-minor-command/spec.md
  openspec/specs/commander-update-deep-patch-command/spec.md
  openspec/specs/commander-update-orchestrator-skill/spec.md
  openspec/specs/experiments-plugin/spec.md
  openspec/specs/npm-update-apply/spec.md
  openspec/specs/npm-update-deep-engines-command/spec.md
  openspec/specs/npm-update-deep-major-command/spec.md
  openspec/specs/npm-update-deep-minor-command/spec.md
  openspec/specs/npm-update-deep-patch-command/spec.md
  openspec/specs/parallel-research-workflow/spec.md
Due: none

chore(deps): apply patch-level dependency updates
  apps/demo/package.json
  apps/green-beard/package.json
  apps/investlab/package.json
  apps/qup-api/package.json
  apps/qup-web/package.json
  apps/wealth-react/package.json
  package.json
  packages/investlab-core/package.json
  packages/investlab-data/package.json
  packages/investlab-domain/package.json
  packages/qup-data/package.json
  packages/qup-domain/package.json
  packages/qup-shared/package.json
  packages/react-clean/package.json
  packages/react-hooks/package.json
  packages/solid-clean/package.json
  packages/wealth-tracker-core/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: react-hooks, react-clean

fix(nx): make tsc -b builds cache-deterministic
  apps/demo/package.json
  nx.json
  packages/http-client/package.json
  packages/ts-types/package.json
Due: none

chore(deps): apply patch-level dependency updates (#269)
  apps/demo/package.json
  apps/green-beard/package.json
  apps/investlab/package.json
  apps/qup-api/package.json
  apps/qup-web/package.json
  apps/wealth-react/package.json
  nx.json
  package.json
  packages/http-client/package.json
  packages/investlab-core/package.json
  packages/investlab-data/package.json
  packages/investlab-domain/package.json
  packages/qup-data/package.json
  packages/qup-domain/package.json
  packages/qup-shared/package.json
  packages/react-clean/package.json
  packages/react-hooks/package.json
  packages/solid-clean/package.json
  packages/ts-types/package.json
  packages/wealth-tracker-core/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: react-hooks, react-clean

chore(deps): apply minor dependency updates
  apps/green-beard/package.json
  apps/investlab/package.json
  apps/qup-api/package.json
  apps/qup-web/package.json
  apps/wealth-react/package.json
  eslint.config.ts
  package.json
  packages/investlab-core/package.json
  packages/investlab-data/package.json
  packages/investlab-domain/package.json
  packages/qup-data/package.json
  packages/qup-domain/package.json
  packages/react-clean/package.json
  pnpm-lock.yaml
Due: react-clean

ci: align fallow action to v3.6.0 for CLI 3.6.0 multicall binary
  .github/workflows/ci.yml
Due: none

chore(deps): apply minor dependency updates (#271)
  .github/workflows/ci.yml
  apps/green-beard/package.json
  apps/investlab/package.json
  apps/qup-api/package.json
  apps/qup-web/package.json
  apps/wealth-react/package.json
  eslint.config.ts
  package.json
  packages/investlab-core/package.json
  packages/investlab-data/package.json
  packages/investlab-domain/package.json
  packages/qup-data/package.json
  packages/qup-domain/package.json
  packages/react-clean/package.json
  pnpm-lock.yaml
Due: react-clean

chore(deps): upgrade knip to 6.27.0
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): upgrade knip to 6.27.0 (#272)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): upgrade pnpm & deno toolchain, adopt pnpm catalog
  .dvmrc
  apps/demo/package.json
  apps/green-beard/package.json
  apps/investlab/package.json
  apps/qup-api/package.json
  apps/qup-web/package.json
  apps/wealth-react/package.json
  package.json
  packages/http-client/package.json
  packages/investlab-core/package.json
  packages/investlab-data/package.json
  packages/investlab-domain/package.json
  packages/qup-data/package.json
  packages/qup-domain/package.json
  packages/qup-shared/package.json
  packages/react-clean/package.json
  packages/react-hooks/package.json
  packages/solid-clean/package.json
  packages/ts-configs/package.json
  packages/ts-types/package.json
  packages/wealth-tracker-core/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: react-hooks, react-clean, ts-configs

chore(deps): upgrade pnpm & deno toolchain, adopt pnpm catalog (#273)
  .dvmrc
  apps/demo/package.json
  apps/green-beard/package.json
  apps/investlab/package.json
  apps/qup-api/package.json
  apps/qup-web/package.json
  apps/wealth-react/package.json
  package.json
  packages/http-client/package.json
  packages/investlab-core/package.json
  packages/investlab-data/package.json
  packages/investlab-domain/package.json
  packages/qup-data/package.json
  packages/qup-domain/package.json
  packages/qup-shared/package.json
  packages/react-clean/package.json
  packages/react-hooks/package.json
  packages/solid-clean/package.json
  packages/ts-configs/package.json
  packages/ts-types/package.json
  packages/wealth-tracker-core/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: react-hooks, react-clean, ts-configs

fix(renovate): stop pinning peerDependencies and library engines
  apps/green-beard/package.json
  packages/http-client/package.json
  packages/investlab-core/package.json
  packages/investlab-data/package.json
  packages/investlab-domain/package.json
  packages/qup-data/package.json
  packages/qup-domain/package.json
  packages/qup-shared/package.json
  packages/react-clean/package.json
  packages/react-hooks/package.json
  packages/solid-clean/package.json
  packages/ts-configs/package.json
  packages/ts-types/package.json
  packages/wealth-tracker-core/package.json
  renovate.json
Due: react-hooks, react-clean, ts-configs

fix(renovate): keep engines.pnpm pinned, revert library-range treatment
  packages/http-client/package.json
  packages/investlab-core/package.json
  packages/investlab-data/package.json
  packages/investlab-domain/package.json
  packages/qup-data/package.json
  packages/qup-domain/package.json
  packages/qup-shared/package.json
  packages/react-clean/package.json
  packages/react-hooks/package.json
  packages/solid-clean/package.json
  packages/ts-configs/package.json
  packages/ts-types/package.json
  packages/wealth-tracker-core/package.json
  renovate.json
Due: react-hooks, react-clean, ts-configs

docs(renovate): tighten the rule descriptions
  renovate.json
Due: none

docs(renovate): cut rule descriptions back to one line
  renovate.json
Due: none

fix(renovate): stop pinning peerDependencies and library engines (#276)
  apps/green-beard/package.json
  renovate.json
Due: none

chore(openspec): drop superseded .codex/skills and finish the .agent migration
  .agent/skills/openspec-apply-change/SKILL.md
  .agent/skills/openspec-archive-change/SKILL.md
  .agent/skills/openspec-continue-change/SKILL.md
  .agent/skills/openspec-explore/SKILL.md
  .agent/skills/openspec-ff-change/SKILL.md
  .agent/skills/openspec-onboard/SKILL.md
  .agent/skills/openspec-propose/SKILL.md
  .agent/skills/openspec-sync-specs/SKILL.md
  .agent/skills/openspec-update-change/SKILL.md
  .agent/skills/openspec-verify-change/SKILL.md
  .agent/workflows/opsx-explore.md
  .codex/skills/openspec-apply-change/SKILL.md
  .codex/skills/openspec-archive-change/SKILL.md
  .codex/skills/openspec-bulk-archive-change/SKILL.md
  .codex/skills/openspec-continue-change/SKILL.md
  .codex/skills/openspec-explore/SKILL.md
  .codex/skills/openspec-ff-change/SKILL.md
  .codex/skills/openspec-new-change/SKILL.md
  .codex/skills/openspec-onboard/SKILL.md
  .codex/skills/openspec-propose/SKILL.md
  .codex/skills/openspec-sync-specs/SKILL.md
  .codex/skills/openspec-update-change/SKILL.md
  .codex/skills/openspec-verify-change/SKILL.md
Due: none

docs(openspec): initial proposal
  openspec/changes/add-comment-discipline-skills/.openspec.yaml
  openspec/changes/add-comment-discipline-skills/design.md
  openspec/changes/add-comment-discipline-skills/proposal.md
  openspec/changes/add-comment-discipline-skills/specs/experiments-plugin/spec.md
  openspec/changes/add-comment-discipline-skills/specs/purge-comment-noise-skill/spec.md
  openspec/changes/add-comment-discipline-skills/specs/purge-comments-command/spec.md
  openspec/changes/add-comment-discipline-skills/specs/writing-comments-skill/spec.md
  openspec/changes/add-comment-discipline-skills/tasks.md
Due: none
