Repository pabloimrik17/monolab: changes, and which Codecov flags are due for each by the changed paths.
All: react-hooks, react-clean, is-even, is-odd, ts-configs

fix: remove outDir from tsconfig.node.app.json to prevent incorrect path resolution
  openspec/changes/add-tsconfig-node-app/tasks.md
  packages/ts-configs/tsconfig.node.app.json
Due: ts-configs

feat: add TypeScript Node.js application configuration (#66)
  openspec/changes/add-tsconfig-node-app/proposal.md
  openspec/changes/add-tsconfig-node-app/tasks.md
  packages/ts-configs/package.json
  packages/ts-configs/tsconfig.node.app.json
Due: ts-configs

docs(ts-configs): document outDir/rootDir delegation for node app config
  packages/ts-configs/tsconfig.node.app.json
Due: ts-configs

feat(@monolab/ts-configs): add TypeScript web application configuration (#68)
  openspec/changes/add-tsconfig-web-app/proposal.md
  openspec/changes/add-tsconfig-web-app/tasks.md
  packages/ts-configs/README.md
  packages/ts-configs/package.json
  packages/ts-configs/tsconfig.web.app.json
Due: ts-configs

feat(@monolab/ts-configs): add TypeScript Node.js library configuration (#67)
  openspec/changes/add-tsconfig-node-lib/proposal.md
  openspec/changes/add-tsconfig-node-lib/tasks.md
  packages/is-even/tsconfig.json
  packages/is-odd/tsconfig.json
  packages/ts-configs/package.json
  packages/ts-configs/tsconfig.node.lib.json
Due: is-even, is-odd, ts-configs

feat: add TypeScript web library configuration (#69)
  openspec/changes/add-tsconfig-web-lib/proposal.md
  openspec/changes/add-tsconfig-web-lib/tasks.md
  packages/ts-configs/README.md
  packages/ts-configs/package.json
  packages/ts-configs/tsconfig.web.lib.json
Due: ts-configs

docs: added dual publish proposal
  openspec/changes/add-automated-dual-publishing/design.md
  openspec/changes/add-automated-dual-publishing/proposal.md
  openspec/changes/add-automated-dual-publishing/release-please-config.example.json
  openspec/changes/add-automated-dual-publishing/specs/package-release/spec.md
  openspec/changes/add-automated-dual-publishing/tasks.md
Due: none

feat(release): implement automated dual publishing to npm and JSR
  .github/workflows/publish.yml
  .github/workflows/react-clean-publish.yml
  .github/workflows/react-hooks-publish.yml
  .github/workflows/release-please.yml
  .release-please-manifest.json
  nx.json
  packages/is-even/jsr.json
  packages/is-even/package.json
  packages/is-odd/jsr.json
  packages/is-odd/package.json
  packages/react-clean/package.json
  packages/react-hooks/jsr.json
  packages/react-hooks/package.json
  packages/ts-configs/package.json
  release-please-config.json
Due: react-hooks, react-clean, is-even, is-odd, ts-configs

fix(release): restore last published versions to avoid JSR collision
  .release-please-manifest.json
  packages/is-even/jsr.json
  packages/is-even/package.json
  packages/is-odd/jsr.json
  packages/is-odd/package.json
  packages/react-clean/jsr.json
  packages/react-clean/package.json
  packages/react-hooks/jsr.json
  packages/react-hooks/package.json
  packages/ts-configs/jsr.json
  packages/ts-configs/package.json
Due: react-hooks, react-clean, is-even, is-odd, ts-configs

fix(release): remove NPM_TOKEN, use OIDC Trusted Publishers
  .github/workflows/publish.yml
Due: none

fix(release): address CodeRabbit security and config issues
  .github/workflows/publish.yml
  packages/ts-configs/CHANGELOG.md
Due: ts-configs

style: fix prettier formatting issues
  .idea/vcs.xml
  codecov.yaml
  packages/ts-configs/CHANGELOG.md
Due: ts-configs

chore: restore nx cloud id
  nx.json
Due: none

chore: implement automated dual publishing to npm and JSR (#70)
  .github/workflows/publish.yml
  .github/workflows/react-clean-publish.yml
  .github/workflows/react-hooks-publish.yml
  .github/workflows/release-please.yml
  .idea/vcs.xml
  .release-please-manifest.json
  codecov.yaml
  nx.json
  packages/is-even/jsr.json
  packages/is-even/package.json
  packages/is-odd/jsr.json
  packages/is-odd/package.json
  packages/react-clean/jsr.json
  packages/react-clean/package.json
  packages/react-hooks/package.json
  packages/ts-configs/CHANGELOG.md
  packages/ts-configs/package.json
  release-please-config.json
Due: react-hooks, react-clean, is-even, is-odd, ts-configs

chore(@monolab/react-clean): added author
  packages/react-clean/package.json
Due: react-clean

fix(release): explicitly target main branch for release PRs
  .github/workflows/release-please.yml
Due: none

chore(ci): fix release-please target branch parameter
  .github/workflows/release-please.yml
Due: none

chore(@monolab/react-hooks): added author
  packages/react-hooks/package.json
Due: react-hooks

chore: trigger release-please with correct target-branch
  packages/is-even/package.json
Due: is-even

feat(ci): centralize prettier to fix CHANGELOG.md formatting issues
  .github/workflows/ci.yml
  package.json
  packages/is-even/package.json
  packages/is-odd/package.json
  packages/react-clean/package.json
  packages/react-hooks/package.json
  packages/ts-configs/package.json
Due: react-hooks, react-clean, is-even, is-odd, ts-configs

Revert "feat(ci): centralize prettier to fix CHANGELOG.md formatting issues"
  .github/workflows/ci.yml
  package.json
  packages/is-even/package.json
  packages/is-odd/package.json
  packages/react-clean/package.json
  packages/react-hooks/package.json
  packages/ts-configs/package.json
Due: react-hooks, react-clean, is-even, is-odd, ts-configs

fix(ci): ignore CHANGELOG.md in per-package prettier checks
  packages/is-even/.prettierignore
  packages/is-odd/.prettierignore
  packages/react-clean/.prettierignore
  packages/react-hooks/.prettierignore
  packages/ts-configs/.prettierignore
Due: react-hooks, react-clean, is-even, is-odd, ts-configs

fix(ci): add missing issues:write permission to release-please workflow
  .github/workflows/release-please.yml
Due: none

fix(ci): missing token and release type
  .github/workflows/release-please.yml
Due: none

fix(ci): remove release-type from manifest mode configuration
  .github/workflows/release-please.yml
Due: none

feat(release): add root CHANGELOG.md for monorepo-wide changes
  .release-please-manifest.json
  CHANGELOG.md
  release-please-config.json
Due: none

revert(release): remove root CHANGELOG configuration
  .release-please-manifest.json
  CHANGELOG.md
  openspec/changes/add-common-utility-types/proposal.md
  openspec/changes/add-common-utility-types/specs/types-package/spec.md
  openspec/changes/add-common-utility-types/tasks.md
  openspec/changes/add-types-package/proposal.md
  openspec/changes/add-types-package/specs/types-package/spec.md
  openspec/changes/add-types-package/tasks.md
  release-please-config.json
Due: none

fix(ci): consolidate release and publish into single workflow
  .github/workflows/publish.yml
  .github/workflows/release-please.yml
Due: none

docs(is-even): add JSDoc examples to functions
  packages/is-even/src/index.ts
Due: is-even

fix(ci): use NX_NO_CLOUD variable and secure env vars in publish workflow
  .github/workflows/release-please.yml
Due: none

docs(is-odd): add JSDoc examples to isOdd function
  packages/is-odd/src/index.ts
Due: is-odd

feat!: change package scope from @monolab to @m0n0lab
  .github/workflows/ci.yml
  .github/workflows/release-please.yml
  apps/demo/package.json
  apps/demo/project.json
  apps/demo/src/App.tsx
  apps/demo/vite.config.ts
  package.json
  packages/is-even/jsr.json
  packages/is-even/package.json
  packages/is-even/project.json
  packages/is-even/src/index.ts
  packages/is-even/vitest.config.ts
  packages/is-odd/jsr.json
  packages/is-odd/package.json
  packages/is-odd/project.json
  packages/react-clean/jsr.json
  packages/react-clean/package.json
  packages/react-clean/project.json
  packages/react-clean/src/base.viewmodel.browser.test.tsx
  packages/react-clean/src/use-view-model.hook.ts
  packages/react-clean/tsdown.config.ts
  packages/react-clean/vitest.config.ts
  packages/react-hooks/jsr.json
  packages/react-hooks/package.json
  packages/react-hooks/project.json
  packages/react-hooks/tsdown.config.ts
  packages/ts-configs/jsr.json
  packages/ts-configs/package.json
  packages/ts-configs/project.json
  pnpm-lock.yaml
  release-please-config.json
  tsconfig.base.json
Due: react-hooks, react-clean, is-even, is-odd, ts-configs

fix(ci): convert released packages to single line for GitHub Actions output
  .github/workflows/release-please.yml
Due: none

docs: update READMEs with new @m0n0lab scope and improve documentation
  packages/is-even/README.md
  packages/is-odd/README.md
  packages/react-clean/README.md
  packages/react-hooks/README.md
  packages/ts-configs/README.md
Due: react-hooks, react-clean, is-even, is-odd, ts-configs

fix(ci): add id-token permission to publish job for npm Trusted Publishers
  .github/workflows/release-please.yml
  packages/is-odd/README.md
Due: is-odd

docs(is-even): add features section to README
  packages/is-even/README.md
Due: is-even

Path conditions:
  react-hooks: any of: packages/react-hooks/, but not: **/*.spec.ts, **/*.test.ts, **/*.spec.tsx, **/*.test.tsx, **/dist/, **/node_modules/, **/coverage/, **/.nx/, **/*.config.ts, **/*.config.js, **/*.config.cjs, **/*.config.mjs, **/vite.config.ts, **/vitest.config.ts, **/eslint.config.ts
  react-clean: any of: packages/react-clean/, but not: **/*.spec.ts, **/*.test.ts, **/*.spec.tsx, **/*.test.tsx, **/dist/, **/node_modules/, **/coverage/, **/.nx/, **/*.config.ts, **/*.config.js, **/*.config.cjs, **/*.config.mjs, **/vite.config.ts, **/vitest.config.ts, **/eslint.config.ts
  is-even: any of: packages/is-even/, but not: **/*.spec.ts, **/*.test.ts, **/*.spec.tsx, **/*.test.tsx, **/dist/, **/node_modules/, **/coverage/, **/.nx/, **/*.config.ts, **/*.config.js, **/*.config.cjs, **/*.config.mjs, **/vite.config.ts, **/vitest.config.ts, **/eslint.config.ts
  is-odd: any of: packages/is-odd/, but not: **/*.spec.ts, **/*.test.ts, **/*.spec.tsx, **/*.test.tsx, **/dist/, **/node_modules/, **/coverage/, **/.nx/, **/*.config.ts, **/*.config.js, **/*.config.cjs, **/*.config.mjs, **/vite.config.ts, **/vitest.config.ts, **/eslint.config.ts
  ts-configs: any of: packages/ts-configs/, but not: **/*.spec.ts, **/*.test.ts, **/*.spec.tsx, **/*.test.tsx, **/dist/, **/node_modules/, **/coverage/, **/.nx/, **/*.config.ts, **/*.config.js, **/*.config.cjs, **/*.config.mjs, **/vite.config.ts, **/vitest.config.ts, **/eslint.config.ts
