Repository pabloimrik17/monolab: changes, and which Codecov flags are due for each by the changed paths.
All: react-hooks, react-clean, is-even, is-odd, ts-configs

codecov.yaml:

# Codecov Configuration for MonoLab Monorepo
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage status checks
coverage:
    status:
        # Project coverage (overall repository)
        project:
            default:
                target: auto # Maintain current coverage level
                threshold: 2% # Allow up to 2% coverage decrease (strict but reasonable)
                informational: false # Block PRs if coverage drops significantly

            # Per-package project coverage checks
            react-hooks:
                target: auto
                threshold: 2%
                informational: false
                flags:
                    - react-hooks

            react-clean:
                target: auto
                threshold: 2%
                informational: false
                flags:
                    - react-clean

            is-even:
                target: auto
                threshold: 2%
                informational: false
                flags:
                    - is-even

            is-odd:
                target: auto
                threshold: 2%
                informational: false
                flags:
                    - is-odd

            ts-configs:
                target: auto
                threshold: 2%
                informational: false
                flags:
                    - ts-configs

        # Patch coverage (new/modified code in PRs)
        patch:
            default:
                target: 50% # New code should have at least 50% coverage (low bar for initial setup)
                threshold: 10% # Allow up to 10% below target (40% minimum)
                informational: false # Block PRs with very low coverage on new code

            # Per-package patch coverage checks
            react-hooks:
                target: 50%
                threshold: 10%
                informational: false
                flags:
                    - react-hooks

            react-clean:
                target: 50%
                threshold: 10%
                informational: false
                flags:
                    - react-clean

            is-even:
                target: 50%
                threshold: 10%
                informational: false
                flags:
                    - is-even

            is-odd:
                target: 50%
                threshold: 10%
                informational: false
                flags:
                    - is-odd

            ts-configs:
                target: 50%
                threshold: 10%
                informational: false
                flags:
                    - ts-configs

# Files and directories to ignore from coverage calculations
ignore:
    - "**/*.spec.ts"
    - "**/*.test.ts"
    - "**/*.spec.tsx"
    - "**/*.test.tsx"
    - "**/dist/"
    - "**/node_modules/"
    - "**/coverage/"
    - "**/.nx/"
    - "**/*.config.ts"
    - "**/*.config.js"
    - "**/*.config.cjs"
    - "**/*.config.mjs"
    - "**/vite.config.ts"
    - "**/vitest.config.ts"
    - "**/eslint.config.ts"

# Enable inline annotations on pull requests
comment:
    layout: "header, diff, files, footer"
    behavior: default # Update existing comment
    require_changes: false # Always comment, even if no coverage changes

# Per-package flags for independent tracking
flags:
    react-hooks:
        paths:
            - packages/react-hooks/
        carryforward: true # Use previous coverage if not in current upload

    react-clean:
        paths:
            - packages/react-clean/
        carryforward: true

    is-even:
        paths:
            - packages/is-even/
        carryforward: true

    is-odd:
        paths:
            - packages/is-odd/
        carryforward: true

    ts-configs:
        paths:
            - packages/ts-configs/
        carryforward: true

chore: upgrade Node.js to 24.11.0 LTS
  .github/workflows/ci.yml
  .github/workflows/release-please.yml
  .nvmrc
  README.md
  apps/demo/package.json
  openspec/changes/add-tsconfig-node-app/specs/typescript-config/spec.md
  openspec/changes/add-tsconfig-node-app/tasks.md
  openspec/changes/add-tsconfig-node-base/specs/typescript-config/spec.md
  openspec/changes/add-types-package/specs/types-package/spec.md
  openspec/changes/add-types-package/tasks.md
  openspec/project.md
  package.json
  packages/is-even/package.json
  packages/is-odd/package.json
  packages/react-clean/package.json
  packages/react-hooks/package.json
  packages/ts-configs/package.json
  pnpm-lock.yaml
Due: react-hooks, react-clean, is-even, is-odd, ts-configs

docs(is-even): add more features to README
  packages/is-even/README.md
Due: is-even

fix(packages): add repository field to package.json files
  packages/is-even/README.md
  packages/is-even/package.json
  packages/is-odd/package.json
  packages/react-clean/package.json
  packages/react-hooks/package.json
  packages/ts-configs/package.json
Due: react-hooks, react-clean, is-even, is-odd, ts-configs

fix(ci): use Nx dependency graph to determine JSR publish order
  .github/workflows/release-please.yml
  graph.json
  packages/is-odd/README.md
Due: is-odd

fix(ci): use nx graph --print to avoid uncommitted files in JSR publish
  .github/workflows/release-please.yml
  graph.json
Due: none

docs(is-even): add more usage examples in README
  packages/is-even/README.md
Due: is-even

docs(react-hooks): improve package description
  packages/react-hooks/README.md
Due: react-hooks

fix(jsr): update version constraints for @m0n0lab org migration
  packages/is-even/jsr.json
  packages/react-clean/jsr.json
Due: react-clean, is-even

docs(openspec): update dual-publishing proposal with final implementation
  openspec/changes/add-automated-dual-publishing/proposal.md
Due: none

feat(@m0n0lab/types): added types package
  openspec/changes/add-types-package/tasks.md
  packages/types/.prettierignore
  packages/types/CHANGELOG.md
  packages/types/README.md
  packages/types/jsr.json
  packages/types/package.json
  packages/types/project.json
  packages/types/src/index.ts
  packages/types/tsconfig.json
  packages/types/vitest.config.ts
  pnpm-lock.yaml
Due: none

feat(@m0n0lab/types): added codecov
  codecov.yaml
  packages/types/package.json
  packages/types/src/index.test.ts
  tsconfig.json
Due: none

fix: format
  packages/is-even/package.json
  packages/is-odd/package.json
  packages/react-clean/package.json
  packages/react-hooks/package.json
  packages/ts-configs/package.json
Due: react-hooks, react-clean, is-even, is-odd, ts-configs

chore: strict warning limits
  lint-staged.config.ts
  packages/is-even/package.json
  packages/is-odd/package.json
  packages/react-clean/package.json
  packages/react-hooks/package.json
  packages/ts-configs/package.json
  packages/types/package.json
Due: react-hooks, react-clean, is-even, is-odd, ts-configs

feat: add types package (#89)
  codecov.yaml
  lint-staged.config.ts
  openspec/changes/add-types-package/tasks.md
  packages/is-even/package.json
  packages/is-odd/package.json
  packages/react-clean/package.json
  packages/react-hooks/package.json
  packages/types/.prettierignore
  packages/types/CHANGELOG.md
  packages/types/README.md
  packages/types/jsr.json
  packages/types/package.json
  packages/types/project.json
  packages/types/src/index.test.ts
  packages/types/src/index.ts
  packages/types/tsconfig.json
  packages/types/vitest.config.ts
  pnpm-lock.yaml
  tsconfig.json
Due: react-hooks, react-clean, is-even, is-odd

feat(@m0n0lab/types): added types
  .release-please-manifest.json
  openspec/changes/add-common-utility-types/tasks.md
  packages/types/CHANGELOG.md
  packages/types/README.md
  packages/types/src/index.ts
  packages/types/src/nullable.test-d.ts
  packages/types/src/nullable.ts
  packages/types/src/nullish.test-d.ts
  packages/types/src/nullish.ts
  packages/types/src/strict-omit.test-d.ts
  packages/types/src/strict-omit.ts
  packages/types/src/undefinable.test-d.ts
  packages/types/src/undefinable.ts
  release-please-config.json
Due: none

chore(@m0n0lab/types): fix import extension
  packages/is-even/src/index.spec.ts
  packages/is-odd/src/index.spec.ts
  packages/ts-configs/tsconfig.node.base.json
  packages/types/README.md
  packages/types/jsr.json
  packages/types/package.json
  packages/types/src/index.ts
  packages/types/src/nullable.test-d.ts
  packages/types/src/nullable.test.ts
  packages/types/src/nullish.test-d.ts
  packages/types/src/nullish.test.ts
  packages/types/src/undefinable.test-d.ts
  packages/types/src/undefinable.test.ts
  packages/types/stryker.config.mjs
  release-please-config.json
Due: ts-configs

docs: enhance main README with package documentation
  README.md
  package.json
  pnpm-lock.yaml
Due: none

fix(types): use .ts extension in strict-omit import
  packages/types/src/strict-omit.test-d.ts
Due: none

chore(@m0n0lab/ts-types): renamed types to ts-types package
  .github/workflows/ci.yml
  codecov.yaml
  openspec/changes/add-stringkeyof-type/proposal.md
  openspec/changes/add-stringkeyof-type/specs/type-utilities/spec.md
  openspec/changes/add-stringkeyof-type/tasks.md
  openspec/changes/add-types-package/proposal.md
  openspec/changes/add-types-package/specs/types-package/spec.md
  openspec/changes/add-types-package/tasks.md
  openspec/changes/rename-types-to-ts-types/proposal.md
  openspec/changes/rename-types-to-ts-types/specs/types-package/spec.md
  openspec/changes/rename-types-to-ts-types/tasks.md
  packages/ts-types/.prettierignore
  packages/ts-types/CHANGELOG.md
  packages/ts-types/README.md
  packages/ts-types/jsr.json
  packages/ts-types/package.json
  packages/ts-types/project.json
  packages/ts-types/src/index.test.ts
  packages/ts-types/src/nullable.test-d.ts
  packages/ts-types/src/nullable.test.ts
  packages/ts-types/src/nullable.ts
  packages/ts-types/src/nullish.test-d.ts
  packages/ts-types/src/nullish.test.ts
  packages/ts-types/src/nullish.ts
  packages/ts-types/src/strict-omit.test-d.ts
  packages/ts-types/src/strict-omit.ts
  packages/ts-types/src/undefinable.test-d.ts
  packages/ts-types/src/undefinable.test.ts
  packages/ts-types/src/undefinable.ts
  packages/ts-types/stryker.config.mjs
  packages/ts-types/tsconfig.json
  packages/ts-types/vitest.config.ts
  pnpm-lock.yaml
  release-please-config.json
  tsconfig.json
Due: none

chore(@m0n0lab/react-clean): extension
  packages/react-clean/package.json
  packages/react-clean/src/base.viewmodel.browser.test.tsx
  packages/react-clean/src/base.viewmodel.spec.ts
  packages/react-clean/src/index.ts
  packages/react-clean/src/types.test-d.ts
  packages/react-clean/src/use-view-model.hook.spec.ts
  packages/react-clean/src/use-view-model.hook.ts
  packages/react-clean/tsconfig.json
Due: react-clean

chore(@m0n0lab/react-hooks): extension
  packages/react-hooks/src/hooks/use-did-mount.browser.test.tsx
  packages/react-hooks/src/hooks/use-did-mount.hook.spec.ts
  packages/react-hooks/src/hooks/use-will-unmount.hook.spec.ts
  packages/react-hooks/src/index.ts
Due: react-hooks

chore(@m0n0lab/ts-configs): enabled allowImportingTsExtensions in base
  packages/ts-configs/tsconfig.base.json
Due: ts-configs

feat(@m0n0lab/ts-types): added StringKeyOf type
  packages/ts-types/src/index.ts
  packages/ts-types/src/string-keyof.test-d.ts
  packages/ts-types/src/string-keyof.ts
Due: none

fix(@m0n0lab/ts-types): pr comments
  openspec/changes/add-stringkeyof-type/proposal.md
  openspec/changes/add-stringkeyof-type/specs/type-utilities/spec.md
  packages/ts-types/README.md
  packages/ts-types/package.json
  packages/ts-types/src/index.ts
  packages/ts-types/src/strict-omit.test-d.ts
  packages/ts-types/src/string-keyof.test-d.ts
  packages/ts-types/stryker.config.mjs
Due: none

docs: added proposal to fix workspaces in jsr
  openspec/changes/fix-workspace-protocol-publishing/design.md
  openspec/changes/fix-workspace-protocol-publishing/proposal.md
  openspec/changes/fix-workspace-protocol-publishing/specs/package-release/spec.md
  openspec/changes/fix-workspace-protocol-publishing/tasks.md
Due: none

feat: migrate to Deno workspaces for JSR publishing
  .github/workflows/release-please.yml
  deno.json
  package.json
  packages/is-even/deno.json
  packages/is-even/package.json
  packages/is-odd/deno.json
  packages/is-odd/package.json
  packages/react-clean/deno.json
  packages/react-clean/package.json
  packages/react-hooks/deno.json
  packages/react-hooks/package.json
  packages/ts-configs/deno.json
  packages/ts-configs/package.json
  packages/ts-types/deno.json
  packages/ts-types/package.json
  release-please-config.json
Due: react-hooks, react-clean, is-even, is-odd, ts-configs

chore: removed jsr.json
  packages/is-even/jsr.json
  packages/is-odd/jsr.json
  packages/react-clean/jsr.json
  packages/react-hooks/jsr.json
  packages/ts-configs/jsr.json
  packages/ts-types/jsr.json
Due: react-hooks, react-clean, is-even, is-odd, ts-configs

docs: updated task
  openspec/changes/fix-workspace-protocol-publishing/tasks.md
Due: none

fix: stryker should not mutate test files
  packages/is-even/stryker.config.mjs
  packages/is-odd/stryker.config.mjs
  packages/react-clean/stryker.config.mjs
  packages/react-hooks/stryker.config.mjs
  packages/ts-types/stryker.config.mjs
  stryker.config.base.mjs
Due: none

docs(@m0n0lab/ts-types): updated README
  packages/ts-types/README.md
Due: none

fix(ci): publish standalone packages to JSR
  .github/workflows/release-please.yml
Due: none

docs: add production ready badge to all packages
  packages/is-even/README.md
  packages/is-odd/README.md
  packages/react-clean/README.md
  packages/react-hooks/README.md
  packages/ts-configs/README.md
Due: react-hooks, react-clean, is-even, is-odd, ts-configs

docs: add well documented badge to all packages
  packages/is-even/README.md
  packages/is-odd/README.md
  packages/react-clean/README.md
  packages/react-hooks/README.md
  packages/ts-configs/README.md
  packages/ts-types/README.md
Due: react-hooks, react-clean, is-even, is-odd, ts-configs

fix: remove --allow-dirty and --no-git-checks flags
  .github/workflows/release-please.yml
  openspec/changes/fix-workspace-protocol-publishing/tasks.md
  package.json
  packages/react-clean/deno.json
  packages/react-hooks/deno.json
  pnpm-lock.yaml
Due: react-hooks, react-clean

fix: remove --allow-dirty and --no-git-checks flags
  packages/is-even/README.md
  packages/is-odd/README.md
  packages/react-clean/README.md
  packages/react-hooks/README.md
  packages/ts-configs/README.md
  packages/ts-types/README.md
Due: react-hooks, react-clean, is-even, is-odd, ts-configs
