Repository pabloimrik17/monolab: changes, and which Codecov flags are due for each by the changed paths.
All: react-hooks, react-clean, is-even, is-odd, ts-configs

chore(openspec): oxfmt migration proposal (#139)
  openspec/changes/migrate-prettier-to-oxfmt/.openspec.yaml
  openspec/changes/migrate-prettier-to-oxfmt/design.md
  openspec/changes/migrate-prettier-to-oxfmt/proposal.md
  openspec/changes/migrate-prettier-to-oxfmt/specs/code-formatting/spec.md
  openspec/changes/migrate-prettier-to-oxfmt/tasks.md
Due: none

chore(mcp): added gh_grep
  .mcp.json
  opencode.json
Due: none

chore: ignore claude worktrees directory
  .nxignore
  knip.config.ts
Due: none

style: reformat with prettier v3.8
  AGENTS.md
  CLAUDE.md
  README.md
  apps/demo/index.html
  apps/demo/vite.config.ts
  eslint.config.ts
  lint-staged.config.ts
  package.json
  packages/is-even/README.md
  packages/is-odd/README.md
  packages/react-clean/README.md
  packages/react-clean/deno.json
  packages/react-clean/src/use-view-model.hook.ts
  packages/react-clean/vitest.config.ts
  packages/react-hooks/README.md
  packages/react-hooks/deno.json
  packages/react-hooks/src/hooks/use-did-mount.browser.test.tsx
  packages/react-hooks/src/hooks/use-did-mount.hook.spec.ts
  packages/react-hooks/src/hooks/use-will-unmount.hook.spec.ts
  packages/react-hooks/src/hooks/use-will-unmount.hook.ts
  packages/ts-configs/README.md
  packages/ts-configs/src/index.spec.ts
  packages/ts-types/README.md
  packages/ts-types/src/nullish.ts
  packages/ts-types/src/undefinable.ts
  pnpm-lock.yaml
  tools/sync-jsr-version.js
Due: react-hooks, react-clean, is-even, is-odd, ts-configs

chore: replace prettier with oxfmt in tooling and CI
  .github/workflows/ci.yml
  apps/demo/package.json
  eslint.config.ts
  lint-staged.config.ts
  nx.json
  package.json
  packages/is-even/package.json
  packages/is-odd/package.json
  packages/react-clean/package.json
  packages/react-hooks/package.json
  packages/ts-configs/package.json
  packages/ts-types/package.json
Due: react-hooks, react-clean, is-even, is-odd, ts-configs

chore: add per-project lint:oxfmt targets and nx orchestration
  .github/workflows/ci.yml
  apps/demo/package.json
  nx.json
  packages/is-even/package.json
  packages/is-odd/package.json
  packages/react-clean/package.json
  packages/react-hooks/package.json
  packages/ts-configs/package.json
  packages/ts-types/package.json
Due: react-hooks, react-clean, is-even, is-odd, ts-configs

chore: add .git-blame-ignore-revs for reformat commits
  .git-blame-ignore-revs
Due: none

chore: update typescript-eslint to 8.56.1 for enableAutofixRemoval support
  openspec/changes/migrate-prettier-to-oxfmt/tasks.md
  package.json
  pnpm-lock.yaml
Due: none

fix: add missing apps/demo reference to root tsconfig.json
  tsconfig.json
Due: none

fix: remove unnecessary eslint dependency from lint:oxfmt target
  nx.json
Due: none

style: reformat with prettier v3.8
  apps/demo/index.html
  eslint.config.ts
  lint-staged.config.ts
  package.json
  packages/react-clean/README.md
  packages/react-clean/src/use-view-model.hook.ts
  packages/react-clean/vitest.config.ts
  packages/react-hooks/README.md
  packages/react-hooks/src/hooks/use-did-mount.browser.test.tsx
  packages/react-hooks/src/hooks/use-did-mount.hook.test.ts
  packages/react-hooks/src/hooks/use-will-unmount.hook.test.ts
  packages/react-hooks/src/hooks/use-will-unmount.hook.ts
  packages/ts-configs/README.md
  packages/ts-types/README.md
  packages/ts-types/src/nullish.ts
  packages/ts-types/src/undefinable.ts
Due: react-hooks, react-clean, ts-configs

style: reformat with oxfmt
  .oxfmtrc.json
  .prettierignore
  .prettierrc
  apps/demo/.prettierignore
  lint-staged.config.ts
  nx.json
  packages/http-client/.prettierignore
  packages/react-clean/.prettierignore
  packages/react-clean/src/base.viewmodel.browser.test.tsx
  packages/react-clean/src/use-view-model.hook.ts
  packages/react-clean/tsdown.config.ts
  packages/react-clean/vitest.config.ts
  packages/react-hooks/.prettierignore
  packages/react-hooks/src/hooks/use-did-mount.browser.test.tsx
  packages/react-hooks/src/hooks/use-did-mount.hook.test.ts
  packages/react-hooks/src/hooks/use-will-unmount.hook.test.ts
  packages/react-hooks/src/hooks/use-will-unmount.hook.ts
  packages/react-hooks/vitest.config.ts
  packages/ts-configs/.prettierignore
  packages/ts-types/.prettierignore
  packages/ts-types/README.md
  packages/ts-types/src/nullable.test-d.ts
  packages/ts-types/src/nullish.test-d.ts
  packages/ts-types/src/nullish.ts
  packages/ts-types/src/strict-omit.test-d.ts
  packages/ts-types/src/string-keyof.test-d.ts
  packages/ts-types/src/undefinable.test-d.ts
  packages/ts-types/src/undefinable.test.ts
  packages/ts-types/src/undefinable.ts
  packages/wealth-tracker-core/.prettierignore
Due: react-hooks, react-clean, ts-configs

chore: replace prettier with oxfmt in tooling and CI
  .github/workflows/ci.yml
  apps/demo/package.json
  eslint.config.ts
  lint-staged.config.ts
  nx.json
  package.json
  packages/http-client/package.json
  packages/react-clean/package.json
  packages/react-hooks/package.json
  packages/ts-configs/package.json
  packages/ts-types/package.json
  packages/wealth-tracker-core/package.json
Due: react-hooks, react-clean, ts-configs

chore: add per-project lint:oxfmt targets and nx orchestration
  .github/workflows/ci.yml
  apps/demo/package.json
  nx.json
  packages/http-client/package.json
  packages/react-clean/package.json
  packages/react-hooks/package.json
  packages/ts-configs/package.json
  packages/ts-types/package.json
Due: react-hooks, react-clean, ts-configs

chore: update typescript-eslint to 8.56.1 for enableAutofixRemoval support
  openspec/changes/migrate-prettier-to-oxfmt/tasks.md
  package.json
Due: none

fix: replace prettier deps with oxfmt after rebase
  package.json
  pnpm-lock.yaml
Due: none

style: reformat files with oxfmt
  apps/demo/package.json
  apps/demo/src/App.tsx
  packages/http-client/README.md
  packages/http-client/package.json
  packages/http-client/src/contracts/cache.test-d.ts
  packages/http-client/src/contracts/cache.ts
  packages/http-client/src/contracts/client.test-d.ts
  packages/http-client/src/contracts/client.ts
  packages/http-client/src/contracts/deduplication.test-d.ts
  packages/http-client/src/contracts/deduplication.ts
  packages/http-client/src/contracts/errors.test-d.ts
  packages/http-client/src/contracts/errors.test.ts
  packages/http-client/src/contracts/errors.ts
  packages/http-client/src/contracts/factory.test-d.ts
  packages/http-client/src/contracts/interceptors.test-d.ts
  packages/http-client/src/contracts/interceptors.ts
  packages/http-client/src/contracts/request.test-d.ts
  packages/http-client/src/contracts/request.ts
  packages/http-client/src/contracts/response.test-d.ts
  packages/http-client/src/contracts/retry.test-d.ts
  packages/http-client/src/contracts/retry.ts
  packages/http-client/src/contracts/types.ts
  packages/http-client/src/index.ts
  packages/react-clean/package.json
  packages/react-hooks/package.json
  packages/ts-configs/package.json
  packages/ts-types/package.json
Due: react-hooks, react-clean, ts-configs

chore(openspec): updated skills
  .junie/commands/opsx/apply.md
  .junie/commands/opsx/archive.md
  .junie/commands/opsx/bulk-archive.md
  .junie/commands/opsx/continue.md
  .junie/commands/opsx/explore.md
  .junie/commands/opsx/ff.md
  .junie/commands/opsx/new.md
  .junie/commands/opsx/onboard.md
  .junie/commands/opsx/sync.md
  .junie/commands/opsx/verify.md
  .junie/mcp/mcp.json
  .junie/memory/errors.md
  .junie/memory/feedback.md
  .junie/memory/language.json
  .junie/memory/memory.version
  .junie/memory/tasks.md
  .junie/skills/openspec-apply-change/SKILL.md
  .junie/skills/openspec-archive-change/SKILL.md
  .junie/skills/openspec-bulk-archive-change/SKILL.md
  .junie/skills/openspec-continue-change/SKILL.md
  .junie/skills/openspec-explore/SKILL.md
  .junie/skills/openspec-ff-change/SKILL.md
  .junie/skills/openspec-new-change/SKILL.md
  .junie/skills/openspec-onboard/SKILL.md
  .junie/skills/openspec-sync-specs/SKILL.md
  .junie/skills/openspec-verify-change/SKILL.md
Due: none

chore(nx): updated skills
  .agents/skills/link-workspace-packages/SKILL.md
  .agents/skills/monitor-ci/SKILL.md
  .agents/skills/monitor-ci/references/fix-flows.md
  .agents/skills/monitor-ci/scripts/ci-poll-decide.mjs
  .agents/skills/monitor-ci/scripts/ci-state-update.mjs
  .agents/skills/nx-generate/SKILL.md
  .agents/skills/nx-import/SKILL.md
  .agents/skills/nx-import/references/ESLINT.md
  .agents/skills/nx-import/references/GRADLE.md
  .agents/skills/nx-import/references/JEST.md
  .agents/skills/nx-import/references/NEXT.md
  .agents/skills/nx-import/references/TURBOREPO.md
  .agents/skills/nx-import/references/VITE.md
  .agents/skills/nx-plugins/SKILL.md
  .agents/skills/nx-run-tasks/SKILL.md
  .agents/skills/nx-workspace/SKILL.md
  .agents/skills/nx-workspace/references/AFFECTED.md
  .claude/settings.json
  .codex/agents/ci-monitor-subagent.toml
  .codex/config.toml
  .opencode/agents/ci-monitor-subagent.md
  .opencode/commands/monitor-ci.md
  .opencode/skills/monitor-ci/references/fix-flows.md
  .opencode/skills/monitor-ci/scripts/ci-poll-decide.mjs
  .opencode/skills/monitor-ci/scripts/ci-state-update.mjs
  .opencode/skills/nx-import/SKILL.md
  .opencode/skills/nx-import/references/ESLINT.md
  .opencode/skills/nx-import/references/GRADLE.md
  .opencode/skills/nx-import/references/JEST.md
  .opencode/skills/nx-import/references/NEXT.md
  .opencode/skills/nx-import/references/TURBOREPO.md
  .opencode/skills/nx-import/references/VITE.md
Due: none

chore: linters ignore extra agent related folders
  .gitignore
  .markdownlintignore
  .oxfmtrc.json
  eslint.config.ts
Due: none

chore(oxfmt): added extra flag to handle unmatched patterns
  lint-staged.config.ts
Due: none

chore: format
  opencode.json
Due: none

feat(experiments): add hookify-skill change artifacts
  openspec/changes/hookify-skill/.openspec.yaml
  openspec/changes/hookify-skill/design.md
  openspec/changes/hookify-skill/proposal.md
  openspec/changes/hookify-skill/specs/experiments-plugin/spec.md
  openspec/changes/hookify-skill/specs/hookify-skill/spec.md
  openspec/changes/hookify-skill/tasks.md
Due: none

feat(experiments): hookify triggers once per session
  openspec/changes/hookify-skill/design.md
  openspec/changes/hookify-skill/specs/hookify-skill/spec.md
Due: none

fix(experiments): auto-trigger once per session, explicit always allowed
  openspec/changes/hookify-skill/design.md
  openspec/changes/hookify-skill/specs/hookify-skill/spec.md
Due: none

feat(openspec): add plugin-version-bump-skill change artifacts
  openspec/changes/plugin-version-bump-skill/.openspec.yaml
  openspec/changes/plugin-version-bump-skill/design.md
  openspec/changes/plugin-version-bump-skill/proposal.md
  openspec/changes/plugin-version-bump-skill/specs/claude-code-plugins/spec.md
  openspec/changes/plugin-version-bump-skill/specs/experiments-plugin/spec.md
  openspec/changes/plugin-version-bump-skill/specs/plugin-version-bump/spec.md
  openspec/changes/plugin-version-bump-skill/tasks.md
Due: none

fix(experiments): address coderabbit review feedback
  openspec/changes/hookify-skill/specs/hookify-skill/spec.md
  openspec/changes/hookify-skill/tasks.md
Due: none

fix(openspec): address coderabbit feedback on plugin-version-bump-skill
  openspec/changes/plugin-version-bump-skill/proposal.md
  openspec/changes/plugin-version-bump-skill/specs/plugin-version-bump/spec.md
  openspec/changes/plugin-version-bump-skill/tasks.md
Due: none

docs(experiments): hookify skill proposal (#151)
  openspec/changes/hookify-skill/.openspec.yaml
  openspec/changes/hookify-skill/design.md
  openspec/changes/hookify-skill/proposal.md
  openspec/changes/hookify-skill/specs/experiments-plugin/spec.md
  openspec/changes/hookify-skill/specs/hookify-skill/spec.md
  openspec/changes/hookify-skill/tasks.md
Due: none

docs: openspec proposal for skill-terraformer
  openspec/changes/skill-terraformer/design.md
  openspec/changes/skill-terraformer/proposal.md
  openspec/changes/skill-terraformer/specs/experiments-plugin/spec.md
  openspec/changes/skill-terraformer/specs/skill-terraformer/spec.md
  openspec/changes/skill-terraformer/tasks.md
Due: none

feat(openspec): add skills-update-check change proposal
  openspec/changes/skills-update-check/.openspec.yaml
  openspec/changes/skills-update-check/design.md
  openspec/changes/skills-update-check/proposal.md
  openspec/changes/skills-update-check/specs/experiments-plugin/spec.md
  openspec/changes/skills-update-check/specs/skills-update-check/spec.md
  openspec/changes/skills-update-check/tasks.md
Due: none

fix: address coderabbit feedback on skill-terraformer proposal
  openspec/changes/skill-terraformer/design.md
  openspec/changes/skill-terraformer/specs/skill-terraformer/spec.md
  openspec/changes/skill-terraformer/tasks.md
Due: none

feat(openspec): add version bump tasks for plugin release
  openspec/changes/skills-update-check/tasks.md
Due: none

feat(openspec): detect plugins by structure, add version bump task
  openspec/changes/plugin-version-bump-skill/design.md
  openspec/changes/plugin-version-bump-skill/proposal.md
  openspec/changes/plugin-version-bump-skill/specs/plugin-version-bump/spec.md
  openspec/changes/plugin-version-bump-skill/tasks.md
Due: none

fix: clarify experimental_install lock file requirement, add graceful degradation
  openspec/changes/skill-terraformer/design.md
  openspec/changes/skill-terraformer/specs/skill-terraformer/spec.md
Due: none

Path conditions:
  react-hooks: any of: packages/react-hooks/, but not: **/*.spec.ts, **/*.test.ts, **/*.spec.tsx, **/*.test.tsx, **/dist/, **/node_modules/, **/coverage/, **/.nx/, **/*.config.ts, **/*.config.js, **/*.config.cjs, **/*.config.mjs, **/vite.config.ts, **/vitest.config.ts, **/eslint.config.ts
  react-clean: any of: packages/react-clean/, but not: **/*.spec.ts, **/*.test.ts, **/*.spec.tsx, **/*.test.tsx, **/dist/, **/node_modules/, **/coverage/, **/.nx/, **/*.config.ts, **/*.config.js, **/*.config.cjs, **/*.config.mjs, **/vite.config.ts, **/vitest.config.ts, **/eslint.config.ts
  is-even: any of: packages/is-even/, but not: **/*.spec.ts, **/*.test.ts, **/*.spec.tsx, **/*.test.tsx, **/dist/, **/node_modules/, **/coverage/, **/.nx/, **/*.config.ts, **/*.config.js, **/*.config.cjs, **/*.config.mjs, **/vite.config.ts, **/vitest.config.ts, **/eslint.config.ts
  is-odd: any of: packages/is-odd/, but not: **/*.spec.ts, **/*.test.ts, **/*.spec.tsx, **/*.test.tsx, **/dist/, **/node_modules/, **/coverage/, **/.nx/, **/*.config.ts, **/*.config.js, **/*.config.cjs, **/*.config.mjs, **/vite.config.ts, **/vitest.config.ts, **/eslint.config.ts
  ts-configs: any of: packages/ts-configs/, but not: **/*.spec.ts, **/*.test.ts, **/*.spec.tsx, **/*.test.tsx, **/dist/, **/node_modules/, **/coverage/, **/.nx/, **/*.config.ts, **/*.config.js, **/*.config.cjs, **/*.config.mjs, **/vite.config.ts, **/vitest.config.ts, **/eslint.config.ts
