Repository pabloimrik17/monolab: changes, and which Codecov flags are due for each by the changed paths.
All: react-hooks, react-clean, is-even, is-odd, ts-configs

fix(@monolab/react-clean): format
  packages/react-clean/deno.json
Due: react-clean

fix(@m0n0lab/ts-types): fix nx package name
  packages/ts-types/project.json
Due: none

chore(@m0n0lab/ts-types): removed dummy test
  packages/ts-types/src/index.test.ts
Due: none

fix: standardize package naming to @m0n0lab
  packages/is-even/README.md
  packages/is-odd/README.md
  packages/react-clean/README.md
  packages/react-hooks/README.md
  packages/ts-configs/README.md
  packages/ts-types/README.md
Due: react-hooks, react-clean, is-even, is-odd, ts-configs

fix(@m0n0lab/react-clean): format
  packages/react-clean/deno.json
Due: react-clean

fix(@m0n0lab/react-hooks): format
  packages/react-hooks/deno.json
Due: react-hooks

chore: disabled deno format
  deno.json
Due: none

docs: archive fix-workspace-protocol-publishing proposal
  openspec/changes/fix-workspace-protocol-publishing/design.md
  openspec/changes/fix-workspace-protocol-publishing/proposal.md
  openspec/changes/fix-workspace-protocol-publishing/specs/package-release/spec.md
  openspec/changes/fix-workspace-protocol-publishing/tasks.md
  openspec/specs/package-release/spec.md
Due: none

docs: updated README
  README.md
Due: none

docs: archive fix-workspace-protocol-publishing proposal
  openspec/changes/archive/2025-11-15-fix-workspace-protocol-publishing/design.md
  openspec/changes/archive/2025-11-15-fix-workspace-protocol-publishing/proposal.md
  openspec/changes/archive/2025-11-15-fix-workspace-protocol-publishing/specs/package-release/spec.md
  openspec/changes/archive/2025-11-15-fix-workspace-protocol-publishing/tasks.md
Due: none

docs: added remove-demo-packages proposal
  openspec/changes/remove-demo-packages/proposal.md
  openspec/changes/remove-demo-packages/specs/monorepo-cleanup/spec.md
  openspec/changes/remove-demo-packages/tasks.md
Due: none

docs: added add-http-client-package
  openspec/changes/add-http-client-package/proposal.md
  openspec/changes/add-http-client-package/specs/bundle-size-tracking/spec.md
  openspec/changes/add-http-client-package/specs/codecov-config/spec.md
  openspec/changes/add-http-client-package/specs/http-client-package/spec.md
  openspec/changes/add-http-client-package/specs/package-release/spec.md
  openspec/changes/add-http-client-package/tasks.md
Due: none

docs: added define-http-client-contracts
  openspec/changes/define-http-client-contracts/proposal.md
  openspec/changes/define-http-client-contracts/specs/http-client-contracts/spec.md
  openspec/changes/define-http-client-contracts/tasks.md
Due: none

docs: added implement-axios-http-client
  openspec/changes/implement-axios-http-client/design.md
  openspec/changes/implement-axios-http-client/proposal.md
  openspec/changes/implement-axios-http-client/specs/axios-http-client/spec.md
  openspec/changes/implement-axios-http-client/specs/axios-testing/spec.md
  openspec/changes/implement-axios-http-client/tasks.md
Due: none

docs: added implement-ky-http-client
  openspec/changes/implement-ky-http-client/design.md
  openspec/changes/implement-ky-http-client/proposal.md
  openspec/changes/implement-ky-http-client/specs/http-client-testing/spec.md
  openspec/changes/implement-ky-http-client/specs/ky-http-client/spec.md
  openspec/changes/implement-ky-http-client/tasks.md
Due: none

chore: node range
  apps/demo/package.json
  package.json
  packages/is-even/package.json
  packages/is-odd/package.json
  packages/react-clean/package.json
  packages/react-hooks/package.json
  packages/ts-configs/package.json
  packages/ts-types/package.json
Due: react-hooks, react-clean, is-even, is-odd, ts-configs

chore: remove is-even and is-odd demo packages
  .github/workflows/ci.yml
  .release-please-manifest.json
  README.md
  apps/demo/package.json
  apps/demo/src/App.tsx
  apps/demo/tsconfig.app.json
  apps/demo/tsconfig.json
  apps/demo/vite.config.ts
  codecov.yaml
  deno.json
  openspec/changes/remove-demo-packages/tasks.md
  openspec/project.md
  packages/is-even/.prettierignore
  packages/is-even/CHANGELOG.md
  packages/is-even/README.md
  packages/is-even/deno.json
  packages/is-even/package.json
  packages/is-even/project.json
  packages/is-even/src/index.spec.ts
  packages/is-even/src/index.ts
  packages/is-even/stryker.config.mjs
  packages/is-even/tsconfig.json
  packages/is-even/vitest.config.ts
  packages/is-odd/.prettierignore
  packages/is-odd/CHANGELOG.md
  packages/is-odd/README.md
  packages/is-odd/deno.json
  packages/is-odd/package.json
  packages/is-odd/project.json
  packages/is-odd/src/index.spec.ts
  packages/is-odd/src/index.ts
  packages/is-odd/stryker.config.mjs
  packages/is-odd/tsconfig.json
  packages/is-odd/vitest.config.ts
  packages/react-clean/deno.json
  packages/react-hooks/deno.json
  pnpm-lock.yaml
  release-please-config.json
  tsconfig.json
Due: react-hooks, react-clean, is-even, is-odd

Merge pull request #99 from pabloimrik17/feature/remove-demo-packages
  .github/workflows/ci.yml
  .release-please-manifest.json
  README.md
  apps/demo/package.json
  apps/demo/src/App.tsx
  apps/demo/tsconfig.app.json
  apps/demo/tsconfig.json
  apps/demo/vite.config.ts
  codecov.yaml
  deno.json
  openspec/changes/remove-demo-packages/tasks.md
  openspec/project.md
  packages/is-even/.prettierignore
  packages/is-even/CHANGELOG.md
  packages/is-even/README.md
  packages/is-even/deno.json
  packages/is-even/package.json
  packages/is-even/project.json
  packages/is-even/src/index.spec.ts
  packages/is-even/src/index.ts
  packages/is-even/stryker.config.mjs
  packages/is-even/tsconfig.json
  packages/is-even/vitest.config.ts
  packages/is-odd/.prettierignore
  packages/is-odd/CHANGELOG.md
  packages/is-odd/README.md
  packages/is-odd/deno.json
  packages/is-odd/package.json
  packages/is-odd/project.json
  packages/is-odd/src/index.spec.ts
  packages/is-odd/src/index.ts
  packages/is-odd/stryker.config.mjs
  packages/is-odd/tsconfig.json
  packages/is-odd/vitest.config.ts
  packages/react-clean/deno.json
  packages/react-hooks/deno.json
  pnpm-lock.yaml
  release-please-config.json
  tsconfig.json
Due: react-hooks, react-clean, is-even, is-odd

feat(http-client): add package foundation
  .github/workflows/ci.yml
  .release-please-manifest.json
  README.md
  codecov.yaml
  openspec/changes/add-http-client-package/tasks.md
  packages/http-client/.prettierignore
  packages/http-client/CHANGELOG.md
  packages/http-client/README.md
  packages/http-client/deno.json
  packages/http-client/package.json
  packages/http-client/project.json
  packages/http-client/src/index.spec.ts
  packages/http-client/src/index.ts
  packages/http-client/tsconfig.json
  packages/http-client/vitest.config.ts
  tsconfig.json
Due: none

chore: update pnpm-lock.yaml after rebase
  pnpm-lock.yaml
Due: none

feat(http-client): add package foundation (#100)
  .github/workflows/ci.yml
  .release-please-manifest.json
  README.md
  codecov.yaml
  openspec/changes/add-http-client-package/tasks.md
  packages/http-client/.prettierignore
  packages/http-client/CHANGELOG.md
  packages/http-client/README.md
  packages/http-client/deno.json
  packages/http-client/package.json
  packages/http-client/project.json
  packages/http-client/src/index.spec.ts
  packages/http-client/src/index.ts
  packages/http-client/tsconfig.json
  packages/http-client/vitest.config.ts
  pnpm-lock.yaml
  tsconfig.json
Due: none

chore(@m0n0lab/ts-configs): clean up
  packages/ts-configs/package.json
  packages/ts-configs/src/index.spec.ts
  packages/ts-configs/src/index.ts
Due: ts-configs

chore: removed old tooling
  tools/sync-jsr-version.js
Due: none

docs: nx llm instructions
  CLAUDE.md
Due: none

chore(@m0n0lab/http-client): renamed test
  packages/http-client/src/index.test.ts
Due: none

chore(@m0n0lab/react-clean): renamed test
  packages/react-clean/src/base.viewmodel.test.ts
  packages/react-clean/src/use-view-model.hook.test.ts
Due: none

chore(@m0n0lab/react-hooks): renamed test
  packages/react-hooks/src/hooks/use-did-mount.hook.test.ts
  packages/react-hooks/src/hooks/use-will-unmount.hook.test.ts
Due: none

feat(http-client): define contract types and interfaces
  openspec/changes/define-http-client-contracts/tasks.md
  packages/http-client/README.md
  packages/http-client/src/contracts/__tests__/type-checks.test-d.ts
  packages/http-client/src/contracts/cache.ts
  packages/http-client/src/contracts/client.ts
  packages/http-client/src/contracts/deduplication.ts
  packages/http-client/src/contracts/errors.ts
  packages/http-client/src/contracts/factory.ts
  packages/http-client/src/contracts/interceptors.ts
  packages/http-client/src/contracts/request.ts
  packages/http-client/src/contracts/response.ts
  packages/http-client/src/contracts/retry.ts
  packages/http-client/src/contracts/types.ts
  packages/http-client/src/index.test.ts
  packages/http-client/src/index.ts
  pnpm-lock.yaml
Due: none

refactor(http-client): reorganize tests to 1:1 file structure
  packages/http-client/src/contracts/__tests__/type-checks.test-d.ts
  packages/http-client/src/contracts/client.test-d.ts
  packages/http-client/src/contracts/errors.test-d.ts
  packages/http-client/src/contracts/factory.test-d.ts
  packages/http-client/src/contracts/interceptors.test-d.ts
  packages/http-client/src/contracts/request.test-d.ts
  packages/http-client/src/contracts/response.test-d.ts
  packages/http-client/src/contracts/retry.test-d.ts
Due: none

feat(http-client): add missing type tests for cache, deduplication, and types
  packages/http-client/src/contracts/cache.test-d.ts
  packages/http-client/src/contracts/deduplication.test-d.ts
  packages/http-client/src/contracts/types.test-d.ts
Due: none

fix(http-client): add Object.setPrototypeOf for proper instanceof checks
  packages/http-client/src/contracts/errors.ts
Due: none

fix(@m0n0lab/http-client): add prototype chain fixes to all error subclasses
  packages/http-client/src/contracts/errors.test.ts
  packages/http-client/src/contracts/errors.ts
Due: none

refactor(@m0n0lab/http-client): move imports before module documentation
  packages/http-client/src/contracts/errors.ts
Due: none

refactor(@m0n0lab/http-client): move imports before comments in all contract files
  packages/http-client/src/contracts/cache.ts
  packages/http-client/src/contracts/client.ts
  packages/http-client/src/contracts/deduplication.ts
  packages/http-client/src/contracts/factory.ts
  packages/http-client/src/contracts/interceptors.ts
  packages/http-client/src/contracts/request.ts
  packages/http-client/src/contracts/response.ts
  packages/http-client/src/contracts/retry.ts
Due: none

refactor(@m0n0lab/http-client): remove redundant ok property from HttpResponse
  packages/http-client/src/contracts/client.ts
  packages/http-client/src/contracts/response.test-d.ts
  packages/http-client/src/contracts/response.ts
Due: none

fix(@m0n0lab/http-client): fix type errors in error class tests
  packages/http-client/src/contracts/errors.test.ts
Due: none

fix(@m0n0lab/http-client): address CodeRabbit critical review items
  packages/http-client/README.md
  packages/http-client/src/contracts/cache.ts
  packages/http-client/src/contracts/deduplication.ts
  packages/http-client/src/contracts/errors.test-d.ts
  packages/http-client/src/contracts/errors.ts
  packages/http-client/src/contracts/request.ts
  packages/http-client/src/contracts/response.test-d.ts
  packages/http-client/src/contracts/response.ts
  packages/http-client/src/contracts/types.ts
  packages/http-client/src/index.ts
Due: none

refactor(http-client): remove redundant status parameter from error constructors
  packages/http-client/src/contracts/errors.test.ts
  packages/http-client/src/contracts/errors.ts
Due: none

fix(ts-configs): remove build scripts from config-only package
  packages/ts-configs/package.json
Due: ts-configs

test(http-client): add timestamp and stack trace validation to error subclass tests
  packages/http-client/src/contracts/errors.test.ts
Due: none

Path conditions:
  react-hooks: any of: packages/react-hooks/, but not: **/*.spec.ts, **/*.test.ts, **/*.spec.tsx, **/*.test.tsx, **/dist/, **/node_modules/, **/coverage/, **/.nx/, **/*.config.ts, **/*.config.js, **/*.config.cjs, **/*.config.mjs, **/vite.config.ts, **/vitest.config.ts, **/eslint.config.ts
  react-clean: any of: packages/react-clean/, but not: **/*.spec.ts, **/*.test.ts, **/*.spec.tsx, **/*.test.tsx, **/dist/, **/node_modules/, **/coverage/, **/.nx/, **/*.config.ts, **/*.config.js, **/*.config.cjs, **/*.config.mjs, **/vite.config.ts, **/vitest.config.ts, **/eslint.config.ts
  is-even: any of: packages/is-even/, but not: **/*.spec.ts, **/*.test.ts, **/*.spec.tsx, **/*.test.tsx, **/dist/, **/node_modules/, **/coverage/, **/.nx/, **/*.config.ts, **/*.config.js, **/*.config.cjs, **/*.config.mjs, **/vite.config.ts, **/vitest.config.ts, **/eslint.config.ts
  is-odd: any of: packages/is-odd/, but not: **/*.spec.ts, **/*.test.ts, **/*.spec.tsx, **/*.test.tsx, **/dist/, **/node_modules/, **/coverage/, **/.nx/, **/*.config.ts, **/*.config.js, **/*.config.cjs, **/*.config.mjs, **/vite.config.ts, **/vitest.config.ts, **/eslint.config.ts
  ts-configs: any of: packages/ts-configs/, but not: **/*.spec.ts, **/*.test.ts, **/*.spec.tsx, **/*.test.tsx, **/dist/, **/node_modules/, **/coverage/, **/.nx/, **/*.config.ts, **/*.config.js, **/*.config.cjs, **/*.config.mjs, **/vite.config.ts, **/vitest.config.ts, **/eslint.config.ts
